{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Customer 720 degree view</title>
    <style>
        h4{
            color:rgb(340,115,30);
            font-weight:500;
        }
        body{
            padding-top: 0px;
        }
        
        .name-box{
            background:#54a0ed;
        }
        .name-box td{
            color: #fff;
        }
        
        .main-box .glyphicon{
            color:rgb(340,115,30);
        }
        .main-box hr{
            margin: 10 0 10 0px;
        }
        
        .text-box td, th{
            padding: 5 15 5 15px;
            /*width:50%;*/
        }
        .text-box table{
            width:100%;
        }
        .text-box{
            background:#fff;
            margin: 0;
            padding: 15 0 15 0px;
        }
        .text-box h4{
            text-align: center;
        }
        
        .icon_h{
            font-size: 26px;
        }
        .first-col {
            text-align: right;
            width: 50%;
        }
        .icon_td{
            width:25px;
        }
        .alerts td {
            padding:10px;
        }
        
        .glyphicon-exclamation-sign{
            color:rgb(255, 27, 36);
        }
        .glyphicon-ok-sign{
            color: green;
        }
        .fa-twitter{
            color: #00aced;
        }
        
        #visualization1{
            font-size: 14px;
        }
        #interaction_table {
            width: 100%;
        }
        #interaction_table td{
            padding: 0 10 10 10px;
        }
        
        .row{
            overflow: hidden; 
        }

        [class*="col-"]{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            padding-right: 7px;
            padding-left: 7px;
        }
        
        td{
            padding:
        }
    </style>
    <link rel="stylesheet" href="http://visjs.org/dist/vis.css">
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
{{ super() }}
<div class='container-fluid'>
    <h3 style="margin-left: 15px">Customer 720 degree view</h3>
    <div class="row">
        <div class='col-md-3'>
            <div class='name-box' style="display:inline-block; width:100%">
                <table style='width:100%'><tr>
                    <td style='width:100px'>
                        <img src="{{ customer['photo'] }}" style="margin-left: 0px; left: 0">
                    </td>
                    <td>
                        <h3 style="text-align: center; margin-top: 0px;">{{ customer['name'] }}</h3>
                    </td>
                    </tr></table>
            </div>
            <div class="col-cont text-box main-box">
                <!--h4 style="text-align: center;">Contact information</h4-->
                <table>
                    <tr><td style="width:26px"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td><td>{{ customer['phone'] }}</td></tr>
                    <tr><td style="width:26px"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td><td>sms@capgemini.com</td></tr>
                    <tr><td style="width:26px"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td><td>1000, Blue Jay Way</td></tr>
                </table>
                <hr>
                <h4><img src="/static/images/icons/people.png" height=24px> Personal information</h4>
                <table>
                    <tr>
                        <td class='first-col'>Status</td><td>{{ customer['status'] }}</td></tr>
                    <tr><td class='first-col'>Number of children</td><td>1</td></tr>
                </table>
                <hr>
                <h4><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Financial information<!--Financial information--></h4>
                <table>
                    <tr><td class='first-col'>Investable Asset Value</td><td>$350,000</td></tr>
                    <tr><td class='first-col'>Credit FICO</td><td>780</td></tr>
                    <tr><td class='first-col'>Zillow Estimate</td><td>$339,000</td></tr>
                    <tr><td class='first-col'>Home Equity Estimate</td><td>$150,000</td></tr>
                </table>
            </div>
        </div>
        <div class='col-md-9' style="padding-left:15px;">
            <div class='row'>
                <div class='col-md-4'>
                    <div class='col-cont text-box'>
                        <div id="churn_chart" style="width: 100%; height: 300px; margin: 0 auto; padding: 0 0 0 0px"></div>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='col-cont text-box'>
                        <div id="nps_chart" style="width: 100%; height: 300px; margin: 0 auto; padding: 0 0 0 0px"></div>
                    </div>
                </div>
                <div class='col-md-4 alerts'>
                    <div class='col-cont text-box'>
                        <h4><i class="fa fa-exclamation-triangle" style='font-size:150%; color:red;'></i>  <b>ALERTS</b></h4>
                        <br>
                        <table>
                            <tr><td style="width:10px"><span class="glyphicon glyphicon-exclamation-sign"></span></td><td>Disputed Credit Card Billing</td></tr>
                            <tr><td style="width:10px"><span class="glyphicon glyphicon-exclamation-sign"></span></td><td>Never logged in mobile App</td></tr>
                            <tr><td style="width:10px"><span class="glyphicon glyphicon-exclamation-sign"></span></td><td>Not Checked in Internet Account from 30 days</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='row' style="margin-top: 14px;">
                <div class='col-md-6'>
                    <div class='col-cont text-box'>
                        <div id="transaction_chart" style="width: 100%; height: 400px; margin: 0 auto; padding: 0 0 0 0px"></div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='col-cont text-box'>
                        <div id="communication_chart" style="width: 100%; height: 400px; margin: 0 auto; padding: 0 0 0 0px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row' style="margin-top: 14px;">
        <div class='col-md-3'>
            <div class="col-cont text-box">
                <h4><img src="/static/images/icons/networking.png" height=24px> Social Networks</h4>
                <table>
                    <tr><td class='first-col'>Twitter Followers</td><td>2200</td></tr>
                    <tr><td class='first-col'>Facebook Friends</td><td>192</td></tr>
                    <tr><td class='first-col'>Klout Score</td><td>39</td></tr>
                    <tr><td class='first-col'>Sentiment Score</td><td>Negative</td></tr>
                </table>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="col-cont text-box">
                <h4><i class="icon_h fa fa-comments-o"></i> Last Conversations</h4>
                <table id="interaction_table">
                    <tr>
                        <td class="icon_td">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color:black"></span>
                        </td>
                        <td style='width:20px'>
                            21.02.16
                        </td>
                        <td>
                            Internet banking account not working
                        </td>
                        <td style='width:20px'>
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:green"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon_td">
                            <i class="fa fa-twitter"></i>
                        </td>
                        <td style='width:20px'>
                            21.02.16
                        </td>
                        <td>
                            Travel Card Enquiry
                        </td>
                        <td style='width:20px'>
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:green"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="col-cont text-box">
                <h4><i class="icon_h fa fa-globe"></i> Page visits</h4>
                <table>
                    <tr>
                        <th style='width:20%;'>
                            Date
                        </th>
                        <th>
                            Page
                        </th>
                    </tr>
                    <tr>
                        <td>
                            21.02.16
                        </td>
                        <td>
                            Homepage
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21.02.16
                        </td>
                        <td>
                            Borrowing->Mortgage
                        </td>
                    </tr>
                    <tr>
                        <td>
                            22.02.16
                        </td><td>
                        Borrowing->Getting the Best Rates
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="col-cont text-box">
                <h4><i class="icon_h fa fa-hand-o-up"></i> Browsing summary</h4>
                <table>
                    <tr>
                        <td class='first-col'>Visits</td><td>2</td>
                    </tr>
                    <tr>
                        <td class='first-col'>Pageviews</td><td>6</td>
                    </tr>
                    <tr>
                        <td class='first-col'>Time Spent</td><td>3:02</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12' style="margin-top: 14px;">
            <div class="col-cont text-box">
                <div id="visualization1"></div>
            </div>
        </div>
    </div>
    <!--div class='col-md-3'>
    <div class="text-box" style="margin-top:15px">
    - tables -
    </div>
    </div-->
</div>

{% endblock %}
    
    
{% block bottom %}
    
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
    $(function () {
    $('#communication_chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Channel Usage'
        },
        xAxis: {
            categories: ['2010', '2011', '2012', '2013', '2014', '2015', '2016']
        },
        yAxis: {
            title: null,
            labels: {
                enabled: false
            }
        },
        exporting: { enabled: false },
        credits: { enabled: false },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.percentage:.1f} %<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false
                }
            }
        },
        
        series: [{
            name: 'SMS',
            data: [20,20,30,35,39,43,48]
        }, {
            name: 'Email',
            data: [16,16,24,29,37,42,53]
        }, {
            name: 'Paper',
            data: [46,46,36,28,21,18,11]
        }, {
            name: 'Internet',
            data: [14,20,24,29,36,41,47]
        }, {
            name: 'Call Center',
            data: [55,47,34,42,31,26,21]
        }, {
            name: 'Branch',
            data: [49,42,31,26,21,17,14]
        }]
    });
});
    
    
    $(function () {
    $('#transaction_chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Transaction <br>Type',
            align: 'center',
            verticalAlign: 'middle',
            y: -40
        },
        tooltip: {
            pointFormat: ''
        },
        credits: {
            enabled: false
        },
        exporting: { enabled: false },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.0f} %',
                },
                startAngle: -0,
                endAngle: 360,
                center: ['50%', '50%'],
                showInLegend: true
            }
        },
        
        series: [{
            type: 'pie',
            name: 'Transaction',
            innerSize: '70%',
            data: [
                {
                    name: 'Credit',
                    y: 476,
                },{
                    name: 'Eating',
                    y: 725,
                },{
                    name: 'Entertainment',
                    y: 550,
                },{
                    name: 'Gas & Lodging',
                    y: 856,
                },{
                    name: 'Home',
                    y: 350,
                },{
                    name: 'Kids',
                    y: 225,
                },{
                    name: 'Shopping',
                    y: 150,
                },{
                    name: 'Travel',
                    y: 925,
                }
            ]
        }]
    });
});
    
$(function () {
    $('#churn_chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Churn Rate',
            align: 'center',
            verticalAlign: 'middle',
            y: 0
        },
        tooltip: {
            pointFormat: ''
        },
        credits: {
            enabled: false
        },
        exporting: { enabled: false },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'black',
                    }
                },
                startAngle: -0,
                endAngle: 360,
                center: ['50%', '50%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Churn rate',
            innerSize: '70%',
            data: [
                {
                    name: 'Churn',
                    color: '#54a0ed',
                    y: 71,
                    dataLabels: {
                        format: '{point.percentage:.0f} %',
                        enabled: true
                    }
                },
                {
                    name: 'Retention',
                    color: '#ccc',
                    y: 29,
                    dataLabels: {
                        enabled: false
                    }
                }
            ]
        }]
    });
});

$(function () {
    $('#nps_chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'NPS',
            align: 'center',
            verticalAlign: 'middle',
            y: 0
        },
        tooltip: {
            pointFormat: ''
        },
        credits: {
            enabled: false
        },
        exporting: { enabled: false },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'black'
                    }
                },
                startAngle: -0,
                endAngle: 360,
                center: ['50%', '50%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Net Promoter Score',
            innerSize: '70%',
            data: [
                {
                    name: 'Score',
                    color: '#54a0ed',
                    y: 35,
                    dataLabels: {
                        format: '{point.y}',
                        enabled: true
                    }
                },
                {
                    name: 'Score',
                    color: '#ccc',
                    y: 65,
                    dataLabels: {
                        enabled: false
                    }
                }
            ]
        }]
    });
});

</script>
    
    <script src="http://visjs.org/dist/vis.js"></script>
    <script>
        var container1 = document.getElementById('visualization1');

        // Create a DataSet (allows two way data-binding)
        var items1 = new vis.DataSet([
            {id: 1, content: '<i class="fa fa-fw fa-user" style="color:blue"></i> First Job', start: '2004-06', style: "background-color: #FFB446"},
            {id: 2, content: '<i class="fa fa-fw" style="color:blue">&#xf1b9;</i> Car', start: '2010-06', style: "background-color: #FFB446"},
            {id: 3, content: 'Marriage', start: '2008-06', style: "background-color: #54A0ED"},
            {id: 4, content: '<i class="fa fa-fw" style="color:blue">&#xf1ae;</i> First child', start: '2011-06', style: "background-color: #54A0ED"},
            {id: 5, content: '<i class="fa fa-fw fa-money" style="color:green"></i> Checking Account', start: '2013-08', style: "background-color: rgb(127, 176, 5)"},
            {id: 6, content: '<i class="fa fa-fw fa-credit-card" style="color:red"></i> Credit Card', start: '2015-08', style: "background-color: rgb(127, 176, 5)"},
            {id: 7, content: '<i class="fa fa-fw fa-user" style="color:blue"></i> Job change', start: '2014-06', style: "background-color: #FFB446"}
        ]);
        var items2 = new vis.DataSet([
            {id: 1, content: '<i class="fa fa-fw fa-user" style="color:blue"></i> First Job', start: '2002-06', style: "background-color: DarkKhaki"},
            {id: 2, content: '<i class="fa fa-fw" style="color:blue">&#xf1b9;</i> Car', start: '2008-06', style: "background-color: MediumPurple"},
            {id: 3, content: 'Marriage', start: '2009-06', style: "background-color: pink"},
            {id: 4, content: '<i class="fa fa-fw fa-money" style="color:green"></i> Cecking Account', start: '2014-02', style: "background-color: GoldenRod"},
            {id: 5, content: '<i class="fa fa-fw" style="color:blue">&#xf015;</i> First Home', start: '2014-06', style: "background-color: Tan"},
            {id: 6, content: '<i class="fa fa-fw fa-credit-card" style="color:green"></i> Credit Card', start: '2014-08', style: "background-color: GoldenRod"},
            {id: 7, content: '<i class="fa fa-fw fa-user" style="color:red"></i> Job change', start: '2015-06', style: "background-color: DarkKhaki"}
        ]);

        // Configuration for the Timeline
        var options = {
            width: '100%',
            maxHeight: '400px',
            zoomable: false,
            selectable: true,
            moveable: true,
            showCurrentTime: false,
            margin: {
                item: 5
            },
            timeAxis: {scale: 'year', step: 1}
        };

        // Create a Timeline
        var timeline = new vis.Timeline(container1, items1, options);
    </script>
{% endblock %}
