{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>KLI analysis</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" type="text/css" href="/static/css/sunbirst.css"/>
{% endblock %}
{% block body %}
{{ super() }}
        <div id="analysis" class="container">
            <h3>KLI analysis</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Customer base explained</div>
                            <div id="main">
                              <div id="sequence"></div>
                              <div id="chart">
                                <div id="explanation" style="visibility: hidden;">
                                  <span id="percentage"></span><br/>
                                  of customers
                                </div>
                              </div>
                            </div>
<!--                             <div id="sidebar">
                              <input type="checkbox" id="togglelegend"> Legend<br/>
                              <div id="legend" style="visibility: hidden;"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div> <!-- id="analysis" class="container" -->
{% endblock %}

{% block bottom %}
{{ super() }}
    <script type="text/javascript" src="/static/js/sunbirst.js"></script>
{% endblock %}