{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Cluster analysis</title>
{% endblock %}
{% block body %}
{{ super() }}
        <div id="Cluster_analysis" class="container">
            <h3>Cluster analysis</h3>
            <hr />

            <!-- row0 Bank's ex-worker fined -->
            <div class="row">
                <div class="col-md-4 text-center">ID/Name:<br /><b>Bank's ex-worker fined</b></div>
                <div class="col-md-8" id="row0_activity">Cluster activity</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" id="row0_tags">Top Tags</div>
                <div class="col-md-4" id="row0_users">Top users</div>
                <div class="col-md-4" id="row0_keywords">Keywords</div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12">Sample tweets:
                    <pre>Ex-Fairy #CapgBank analyst fined, suspended over stock rating</pre>
                    <pre>An analyst got fined over stocks rating #CapgBank</pre>
                </div>
            </div>
            <hr />

            <!-- row1 Bank's financial results -->
            <hr />
            <div class="row">
                <div class="col-md-4 text-center">ID/Name:<br /><b>Bank's financial results</b></div>
                <div class="col-md-8" id="row1_activity">Cluster activity</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" id="row1_tags">Top Tags</div>
                <div class="col-md-4" id="row1_users">Top users</div>
                <div class="col-md-4" id="row1_keywords">Keywords</div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12">Sample tweets:
                    <pre>#CapgBank Q1 Results 2016 published today #CapgResults</pre>
                    <pre>CapgBank underlying Q1 profits fall 12% #CapgResults</pre>
                </div>
            </div>
            <hr />

            <!-- row2 Buzz about new promo -->
            <hr />
            <div class="row">
                <div class="col-md-4 text-center">ID/Name:<br /><b>Buzz about new promo</b></div>
                <div class="col-md-8" id="row2_activity">Cluster activity</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" id="row2_tags">Top Tags</div>
                <div class="col-md-4" id="row2_users">Top users</div>
                <div class="col-md-4" id="row2_keywords">Keywords</div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12">Sample tweets:
                    <pre>#CapgBank now offers 5% down mortgages via @CNNMoney</pre>
                    <pre>Capgbank will offer mortgages for 3% down and no MI required! </pre>
                </div>
            </div>
            <hr />

            <!-- row3 Talking about Bank's support -->
            <hr />
            <div class="row">
                <div class="col-md-4 text-center">ID/Name:<br /><b>talks about support</b></div>
                <div class="col-md-8" id="row3_activity">Cluster activity</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" id="row3_tags">Top Tags</div>
                <div class="col-md-4" id="row3_users">Top users</div>
                <div class="col-md-4" id="row3_keywords">Keywords</div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12">Sample tweets:
                    <pre>#CapgBank #customerexperience #customerservice #worst worst customer service ever!! Not the first time!!! Ur other branches are better</pre>
                    <pre>Literally the worst bank! Such poor customer service #CapgBank</pre>
                </div>
            </div>
            <hr />

            <!-- row4 Hype about problems in one of the offices -->
            <hr />
            <div class="row">
                <div class="col-md-4 text-center">ID/Name:<br /><b>Hype about problems in one of the offices</b></div>
                <div class="col-md-8" id="row4_activity">Cluster activity</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" id="row4_tags">Top Tags</div>
                <div class="col-md-4" id="row4_users">Top users</div>
                <div class="col-md-4" id="row4_keywords">Keywords</div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12">Sample tweets:
                    <pre>Temple #CapgBank Hazmat Scare Caused by Protein Powder Accident http://bit.ly/2313</pre>
                    <pre>Temple's #CapgBank on lockdown after suspicious powder found in package left in dropbox:  http://bit.ly/2b3e</pre>
                </div>
            </div>
            <hr />
        </div> <!-- id="Cluster_analysis" class="container" -->
{% endblock %}

{% block bottom %}
{{ super() }}
        <script src="/static/js/highcharts.js"></script>

        <script>
            $(function() {
                Highcharts.setOptions({
                    colors: ['#0079E7', '#D82735', '#009E47'], 
                });
            });
            // row0
            $(function () {$('#row0_activity')
                .highcharts({chart: {type: 'line', height: 150}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["9 hrs","8 hrs","7 hrs","6 hrs","5 hrs","4 hrs","3 hrs","2 hrs","1 hr", "now"]},
                             yAxis: {title: {text: 'Activity'}, gridLineDashStyle: "Dash"},
                             series: [{name: 'Activity',data: [1, 16, 54, 182, 121, 155, 84, 53, 44, 25], color: '#0079E7',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row0_tags')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['#CapBank', '#fined', '#analyst', '#report']},
                             yAxis: {title: {text: 'Top hashtags'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tags',data: [15, 9, 5, 5], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row0_users')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['@News_Agency', '@FinanceAround', '@DonaldDuck']},
                             yAxis: {title: {text: 'Top users'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tweets',data: [21, 12, 10], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row0_keywords')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['ex-bank', 'analyst', 'fined', 'report', 'falsely']},
                             yAxis: {title: {text: 'Top keywords'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Times',data: [9, 7, 4, 2, 2], colorByPoint: true}],
                             credits:{enabled:false},
                            });});

            // row1
            $(function () {$('#row1_activity')
                .highcharts({chart: {type: 'line', height: 150}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["9 hrs","8 hrs","7 hrs","6 hrs","5 hrs","4 hrs","3 hrs","2 hrs","1 hr", "now"]},
                             yAxis: {title: {text: 'Activity'}, gridLineDashStyle: "Dash"},
                             series: [{name: 'Activity',data: [40, 60, 100, 160, 140, 100, 40, 20, 40, 20], color: '#0079E7',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row1_tags')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['#CapBank', '#stocks', '#FinLit', '#FinTech']},
                             yAxis: {title: {text: 'Top hashtags'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tags',data: [10, 7, 5, 4], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row1_users')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['@Donald', '@Quant', '@FinanceAnalysis']},
                             yAxis: {title: {text: 'Top users'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tweets',data: [15, 11, 9], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row1_keywords')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['bank', 'EPS', 'return', 'report', 'quarter', 'earnings']},
                             yAxis: {title: {text: 'Top keywords'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Times',data: [7, 7, 4, 3, 2, 2], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            //	$(function () {$('#row1_keywords')
            //		.highcharts({chart: {type: 'pie', width: 300, height: 200}, 
            //			title: {text: 'Keywords', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" }, }, 
            //			series: [{name: 'Times',data: [{name:'bank', y:7}, {name:'EPS', y:7}, {name:'return', y:4}, {name:'report', y:3}, {name:'quarter', y:2}, {name:'earnings', y:2}]}],
            //			credits:{enabled:false},
            //		});});

            // row2
            $(function () {$('#row2_activity')
                .highcharts({chart: {type: 'line', height: 150}, 
                             title:{text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["9 hrs","8 hrs","7 hrs","6 hrs","5 hrs","4 hrs","3 hrs","2 hrs","1 hr", "now"]},
                             yAxis: {title: {text: 'Activity'}, gridLineDashStyle: "Dash"},
                             series: [{name: 'Activity',data: [181, 257, 165, 146, 144, 105, 41, 23, 5, 2], color: '#0079E7',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row2_tags')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['#CapBank', '#mortgage']},
                             yAxis: {title: {text: 'Top hashtags'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tags',data: [9, 5], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row2_users')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['@Jess', '@Marketview', '@Realtors']},
                             yAxis: {title: {text: 'Top users'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tweets',data: [8, 7, 3], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row2_keywords')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['offer', 'mortgage', 'insurance', 'percent', 'down', 'credit','loan','FHA']},
                             yAxis: {title: {text: 'Top keywords'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Times',data: [10, 9, 4, 4, 3, 3, 2, 2], colorByPoint: true}],
                             credits:{enabled:false},
                            });});

            // row3
            $(function () {$('#row3_activity')
                .highcharts({chart: {type: 'line', height: 150}, 
                             title:{text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["9 hrs","8 hrs","7 hrs","6 hrs","5 hrs","4 hrs","3 hrs","2 hrs","1 hr", "now"]},
                             yAxis: {title: {text: 'Activity'}, gridLineDashStyle: "Dash"},
                             series: [{name: 'Activity',data: [60, 80, 60, 100, 100, 120, 80, 60, 40, 60], color: '#0079E7',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row3_tags')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['#CapBank', '#customerservice', '#customerexperience']},
                             yAxis: {title: {text: 'Top hashtags'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tags',data: [15, 13, 7], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row3_users')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['@Seneka_perky', '@LaurenJimmy']},
                             yAxis: {title: {text: 'Top users'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tweets',data: [5, 3], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row3_keywords')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['worst', 'service', 'customer', 'poor', 'support', 'phone']},
                             yAxis: {title: {text: 'Top keywords'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Times',data: [17, 9, 8, 5, 3, 3], colorByPoint: true}],
                             credits:{enabled:false},
                            });});

            // row4
            $(function () {$('#row4_activity')
                .highcharts({chart: {type: 'line', height: 150}, 
                             title:{text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["9 hrs","8 hrs","7 hrs","6 hrs","5 hrs","4 hrs","3 hrs","2 hrs","1 hr", "now"]},
                             yAxis: {title: {text: 'Activity'}, gridLineDashStyle: "Dash"},
                             series: [{name: 'Activity',data: [1, 0, 5, 24, 35, 100, 160, 140, 120, 60], color: '#0079E7',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row4_tags')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['#CapBank']},
                             yAxis: {title: {text: 'Top hashtags'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tags',data: [8], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row4_users')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['@US155fm', '@LaurenJimmy']},
                             yAxis: {title: {text: 'Top users'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Tweets',data: [9, 3], colorByPoint: true}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#row4_keywords')
                .highcharts({chart: {type: 'bar', width: 300, height: 200}, 
                             title: {text: ''}, 
                             legend:{enabled:false},
                             xAxis: {categories: ['lockdown', 'powder', 'suspicious', 'dropbox', 'accident']},
                             yAxis: {title: {text: 'Top keywords'}, gridLineDashStyle: "Dash", allowDecimals: false},
                             series: [{name: 'Times',data: [11, 9, 8, 5, 5], colorByPoint: true}],
                             credits:{enabled:false},
                            });});		
        </script>
{% endblock %}