<html>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/custom-objects.css">
<head>
    <style>
        .body{
            background-color: #f5f8fa;
            padding-top: 50px;
        }
        .tweet{
            margin:0 20 0 20;
            padding:10 10 10 10;
            border: 1px solid transparent;
            border-top: solid 0px;
            border-color: #d3e0e9;
            background-color: #ffffff;
        }
        .tweet-text{
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            padding:5;
            margin : 5;
            border: 1px solid transparent;
            border-color: #d3e0e9;
        }
        .agent-text{
            margin-left:40;
        }
        .customer-text{
            margin-right:40;
        }
        .bg-info-hov:hover{
            background-color: #B7CEFF;
        }
        .bg-danger-hov:hover{
            background-color: #FF7E7E;
        }
        .bg-success-hov:hover{
            background-color: #A2FF7C;
        }
        .first {
            border-radius: 4px 4px 0 0;
            border-top: solid 1px #d3e0e9;
        }
        .tab-page {z-index:0;}
        .active {z-index:1;} 
    </style>
</head>

<body class = "body">
    
<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index:1">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Smart Analytics</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Capgemini</a></li>
        </ul>
    </div>
  </div>
</nav>

<body>
    <div id="home" class="tab-page active">
        <div class="overlay boxclose" id="overlay" style="display:none;"></div>
            <div class="popup-box-right" id="popup-box-right">
                <!--iframe src="http://10.170.9.216:8084/" style="width:100%; height:100%; border:0;"></iframe-->
            </div>
            <div class="col-md-7" style="margin:10 20 10 20;">
                <h3 style="display: inline;"> Closed Loop Service Solution </h3>
                (<a href="#" id="updateLink">Refresh</a>)
            </div>
        <div class="col-md-9" id="stream"></div>
        
        
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modal-post-tweet">Send message</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</body>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<script>
    function updateData(){
        $.getJSON('/data', function(data){
            $("#stream").html('');
            $.each(data['data'], function (block_i,tweet){
                if (block_i == 0){
                    var t = '<div class="row first tweet">';
                } else {
                    var t = '<div class="row tweet">';
                }
                
                t += '<div class="col-xs-6" style="text-align:left;"><h4><a class="activator">' + tweet[0]['user_name'] + '</a> (<a href="http://twitter.com/' + tweet[0]['user_screen_name'] + '">@' + tweet[0]['user_screen_name'] + '</a>)</h4></div><div class="col-xs-6" style="text-align:left;"><span class="';
                tweet[0]['priority_level'] = Math.random()*8;/// REPLACE THIS LINE
                //var segment_id = tweet[tweet.length-1]['segment_id'];
                //if ((segment_id >= 4) && (sentiment >= 4))
                if(tweet[0]['priority_level']<=2) {
                        t += 'text-danger" style="float:right;">highest priority';
                }else if(tweet[0]['priority_level']<=4) {
                        t += 'text-warning" style="float:right;">high priority';
                }else if(tweet[0]['priority_level']<=6) {
                        t += 'text-info" style="float:right;">medium priority';
                }else{
                        t += 'text-success" style="float:right;">low priority';
                }
                t += '</span></div><div class="col-xs-8">';
                
                for (i=0;i<tweet.length;i++){
                    if(tweet[i]['is_agent_reply']){
                        // AGENT TWEET
                        t+='<div class="tweet-text bg-info bg-info-hov agent-text"><p class="text-muted">' + tweet[i]['created_at'].slice(0,19) + '</p>';
                        t += '<p>' + tweet[i]['text'] + '</p></div>';
                    }else{
                        // CUSTOMER TWEET
                        if(tweet[i]['sentiment'] >= 1){
                                t+='<div class="tweet-text bg-success bg-success-hov';
                        }else if(tweet[i]['sentiment'] <= -1){
                                t+='<div class="tweet-text bg-danger bg-danger-hov';
                        }else{
                                t+='<div class="tweet-text bg-info bg-info-hov';
                        }
                        t += ' customer-text"><p class="text-muted">' + tweet[i]['created_at'].slice(0,19) + '  <a href="http://www.twitter.com/'+tweet[i]['user_screen_name']+'/status/'+tweet[i]['id_str']+'">(link)</a> <a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@' + tweet[i]['user_screen_name'] + '" data-status-id="'+tweet[i]['id_str']+'" data-py-data="{\'sentiment\':'+tweet[i]['sentiment']+',\'user_name\':\''+tweet[i]['user_name']+'\'}">(reply)</a></p>';
                        t += '<p>' + tweet[i]['text'] + '</p>';
                        n_char = tweet[i]["categories"].length;
                        if (n_char > 0){
                            t += '<br>';
                            cats = tweet[i]["categories"].split("|");
                            for (i=1;i<cats.length-1;i++){
                                t += '<kbd>'+cats[i]+'</kbd> ';
                            }
                        }
                        t += '</div>';
                    }
                }
                t += '</div><div class="col-xs-4"><h5>Persona: '+tweet[0]['segment']+'</h5><h5>Influence score: '+tweet[0]['klout_score']+'</h5><h5>Folowers: '+tweet[0]['followers_count']+'</h5>';
                t += '<div class="chart_div" data-sent="'+tweet[0]['sentiment']+'" style="width: 100%; height: 250px; display: inline-block; margin: 0 auto"></div></div>';
                $("#stream").append(t);
            });
            $('.activator').click(function(){
                /* insert 720 page request here */
                $('#overlay').fadeIn('fast',function(){
                    $('#popup-box-right').animate({'right':'0', 'left':'10%'},1000);
                });
            });
            google.charts.setOnLoadCallback(drawChart);

        });
        

    }
    

    
    function addLog (new_text) {
        console.log(new_text);
    };

    var socket = new WebSocket('ws://10.170.9.216:8090/twitter_stream');
    //var socket = new WebSocket('ws://10.170.9.216:8091');
    socket.onopen = function () {addLog('Connected');};

    socket.onclose = function (event) {
        if(event.wasClean) {
            addLog('Clean shutdown');
        } else {
            addLog('Connection closed unexpectedly');
        };
        addLog('Code: ' + event.code + '; Reason: ' + event.reason); 
    };

    socket.onerror = function (error) {addLog('Error: ' + error.message);
                                      setTimeout(function(){}, 5000);};

    socket.onmessage = function (event) {addLog('Data: ' + event.data); };
    
    window.onload = updateData;

    window.onbeforeunload = function() {
        socket.onclose = function () {}; // disable onclose handler first
        socket.close()
    };
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {'packages':['gauge']});
    function drawChart() {
        var options = {
            redFrom: 75, redTo: 100,
            yellowFrom:25, yellowTo: 75,
            minorTicks: 1, min: -100, max: 100
        };
        
        $('.chart_div').each(function(){
            var sentiment = $(this).data('sent');
            
            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Sentiment', -sentiment*50]
            ]);
            
            var chart = new google.visualization.Gauge(this);
            chart.draw(data, options);
            
            function resizeHandler () {
                chart.draw(data, options);
            }
            if (window.addEventListener) {
                window.addEventListener('resize', resizeHandler, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onresize', resizeHandler);
            }
        })
    }
</script>
    
    
<script>
    $('#updateLink').click( function(){ updateData(); return false; });
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('whatever')
      var status_id = button.data('status-id')
      var py_data = button.data('py-data')
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-post-tweet').data('status-id', status_id)
      modal.find('.modal-post-tweet').data('py-data', py_data)
      $('#message-text').val(recipient+' ')
      modal.find('.modal-post-tweet').click(function(){
          status = $('#message-text').val();
          status_id = $(this).data('status-id');
          py_data = $(this).data('py-data');
          console.log(py_data)
          $.post('/reply',{'status':status,'status_id':status_id,'py_data':py_data})
          $('#exampleModal').modal('hide');
      })
    })
</script>
    
<script type = "text/javascript" src="/static/js/popup-box-right.js"></script>
<script type = "text/javascript" src="/static/js/bootstrap.min.js"></script>

</html>