{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Key Lifestyle Indicators</title>
{% endblock %}
{% block body %}
{{ super() }}
        <div id="KLI" class="container">
            <h3>Key Lifestyle Indicators</h3>
            <hr />

            <div class="row">

            </div>
            <hr />
        </div> <!-- id="KLI" class="container" -->
{% endblock %}

{% block bottom %}
{{ super() }}
        <script>
            $('#KLITable').on('click', '.clickable-row', function(event) {
                //alert("Click detected!");
            });
            $('#TransactionsTable').on('mouseover', '.clickable-row', function(event) {
              $(this).addClass('bg-info').siblings().removeClass('bg-info');
            });
            $('#TransactionsTable').on('mouseout', '.clickable-row', function(event) {
              $(this).removeClass('bg-info');
            });
        </script>
{% endblock %}