{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Loyalty Management</title>
    <link rel="stylesheet" href="http://visjs.org/dist/vis.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
{% endblock %}
{% block body %}
{{ super() }}
        <div id="Loyalty" class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <img src="/static/images/customer_m.jpg" class="img-responsive" />
                                </div>
                                <!-- Customer info Table -->
                                <table class="table table-bordered" id="CustomerTable" style="font-size: 14px;">
                                    <tr bgcolor=''><td>Customer Name</td><td>John Smith</td></tr>
                                    <tr bgcolor=''><td>Customer Age</td><td>32</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Social Networks
                                </div>
                                <!-- Social networks panel -->
                                <div class="text-left">
                                    <div style="padding-left: 8px">
                                        <strong>Last message</strong><br>
                                        <span style="color:#777"></span><br>
                                        <div style="background-color:#ddd"><i>Back to New York! Back home.</i></div><br>
                                        <strong>Upcomming Event</strong><br>
                                        <span style="color:#777">05:30 PM</span><br>
                                        <div style="background-color:#ddd"><i>The Nutcracker opera</i></div>Distance to event: 23.5 km
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Current status
                                </div>
                                <div class="text-left">
                                    <table cellpadding="10" cellspacing="10" width="100%"><tbody>
                                        <tr><td style="padding: 5px 0px 5px 8px; border-bottom: 1px solid black;">Current Date</td><td style="padding: 5px 0px 5px 0px; border-bottom: 1px solid black;">23-10-2015</td></tr>
                                        <tr><td style="padding: 5px 0px 5px 8px; border-bottom: 1px solid black;">Current Time</td><td style="padding: 5px 0px 5px 0px; border-bottom: 1px solid black;">08:05 AM</td></tr>
                                        <tr><td style="padding: 5px 0px 5px 8px; border-bottom: 1px solid black;">Last Activity</td><td style="padding: 5px 0px 5px 0px; border-bottom: 1px solid black;">Transaction</td></tr>
                                        <tr><td style="padding: 5px 0px 5px 8px; border-bottom: 1px solid black;">Distance to home</td><td style="padding: 5px 0px 5px 0px; border-bottom: 1px solid black;">23.1 km</td></tr>
                                        <tr><td style="padding: 5px 0px 5px 8px;">Weather</td><td style="padding: 5px 0px 5px 0px;">Sunny</td></tr>
                                    </tbody></table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Last transactions
                                </div>
                                <div class="text-left">
                                    <table cellpadding="10" cellspacing="10" width="100%"><tbody>
                                        <tr><td style="padding: 5px 0px 5px 8px; border-bottom: 1px solid black;">Last transaction date</td><td style="padding: 5px 0px 5px 10px; border-bottom: 1px solid black;">23-10-2015</td></tr>
                                        <tr><td style="padding: 5px 0px 5px 8px; border-bottom: 1px solid black;">Transaction Amount</td><td style="padding: 5px 0px 5px 10px; border-bottom: 1px solid black;">$ 13.98</td></tr>
                                        <tr><td style="padding: 5px 0px 5px 8px;">Merchant Type</td><td style="padding: 5px 0px 5px 10px;">Airport Mixed Store</td></tr>
                                    </tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- Map will be here-->
                            <div style=" margin: 10px 0px 5px 0px; border: 0px solid #FFA500; border-top: 0px solid #FFA500; padding: 15px 10px 10px 10px; background: #fff; width: 100%; border-radius: 5px;">
                                <div id="prediction_map" style="width:100%; height:350px" class="leaflet"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    System actions
                                </div>
                                <table cellpadding="10" cellspacing="10" width="100%"><tbody>
                                    <tr>
                                        <td style="padding: 5px 0px 5px 8px;" width="50%"><span style="font-size: 100%"><strong>Loyalty Improvement Opportunity</strong></span><hr style="margin:5px"></td>
                                        <td style="padding: 5px 0px 5px 8px;" width="50%"><span style="font-size: 100%"><strong>Latest offer</strong></span><hr style="margin:5px"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 0px 5px 8px;"><div>Opportunity detected<br><br><i>System detect an opportunity to offer taxi service</i></div></td>
                                        <td style="padding: 5px 0px 5px 8px;"><div style="background:#fdd">Hey, if you need a taxi just answer to this text back to this message with your final distanation.</div></td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- class="row" -->
            <div class="row">
                <div class="col-md-9 pull-right"> 
                <!-- put timeline here -->
                    <div id="EventTimeline" ></div>
                </div>
            </div> <!-- class="row" -->
            <hr />
        </div> <!-- id="Loyalty" class="container" -->

{% endblock %}

{% block bottom %}
{{ super() }}
<script src="http://visjs.org/dist/vis.js"></script>

<script>
  // DOM element where the Timeline will be attached
  var container1 = document.getElementById('EventTimeline');

  // Create a DataSet (allows two way data-binding)
  var items1 = new vis.DataSet([
    {id: 1, content: '<i class="fa fa-fw fa-user" style="color:blue"></i> First Job', start: '2004-06', style: "background-color: DarkKhaki"},
    {id: 2, content: '<i class="fa fa-fw" style="color:blue">&#xf1b9;</i> Car', start: '2010-06', style: "background-color: MediumPurple"},
    {id: 3, content: 'Marriage', start: '2008-06', style: "background-color: pink"},
    {id: 4, content: '<i class="fa fa-fw" style="color:blue">&#xf1ae;</i> First child', start: '2011-06', style: "background-color: PowderBlue"},
    {id: 5, content: '<i class="fa fa-fw fa-money" style="color:green"></i> Cecking Account', start: '2013-08', style: "background-color: GoldenRod"},
    {id: 6, content: '<i class="fa fa-fw fa-credit-card" style="color:red"></i> Credit Card', start: '2015-08', style: "background-color: GoldenRod"},
    {id: 7, content: '<i class="fa fa-fw fa-user" style="color:blue"></i> Job change', start: '2014-06', style: "background-color: DarkKhaki"}
  ]);

  // Configuration for the Timeline
  var options = {
    width: '100%',
    maxHeight: '300px',
    zoomable: false,
    selectable: true,
    moveable: true,
    showCurrentTime: false,
    margin: {
      item: 5
    },
    timeAxis: {scale: 'year', step: 1}
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container1, items1, options);

</script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>
var mymap = L.map('prediction_map').setView([51.505, -0.09], 13);
var osmAttr = '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';

L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: osmAttr, maxZoom: 18} ).addTo(mymap)

</script>

{% endblock %}