{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Next Best Offer</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!--<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">-->
    <link rel="stylesheet" type="text/css" href="/static/css/sunbirst.css"/>
    <style>
        #graphs {
            padding: 0 20 0 20px;
        }
    </style>
{% endblock %}
{% block body %}
{{ super() }}
        <div class="overlay boxclose" id="overlay" style="display:none;"></div>
        <div class="popup-box-right" id="popup-box-right">
            <!--iframe src="http://10.170.9.196:8084/" style="width:100%; height:100%; border:0;"></iframe-->
            <img src="/static/images/cltv2.png" width=100%>
        </div>
        <div id="NBO" class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="row">
                            <h3>Next best offer</h3>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a class="activator">Customer 720 View</a><br />
                                <img src="/static/images/customer_w.png" />
                            </div>
                            <!-- Customer info Table -->
                            <table class="table table-bordered" id="CustomerTable" style="font-size: 14px;">
                                <tr bgcolor='#aaaaaa'><td>Customer Name</td><td> {{ customer['name'] }} </td></tr>
                                <tr bgcolor='#aaaaaa'><td>State</td><td> {{ customer['state'] }} </td></tr>
                                <tr bgcolor='#aaaaaa'><td>E-Mail</td><td>{{ customer['email'] }}</td></tr>
                                <tr bgcolor='#ffa135'><td>Marital Status</td><td>{{ customer['maritalStatus'] }}</td></tr>
                                <tr bgcolor='#ffa135'><td># of Children in home</td><td>{{ customer['numberOfChildren']|int }}</td></tr>
                                <tr bgcolor='#009e47'><td>Predicted life event</td><td>{{ customer['predictedLifeEvent'] }}</td></tr>
                                <tr bgcolor='#06a9fc'><td>Credit Score - FICO</td><td>{{ customer['creditScoreFICO']|int }}</td></tr>
                                <tr bgcolor='#06a9fc'><td>Investable Asset Estimate</td><td>{{ customer['investableAssetEstimate'] }}</td></tr>
                                <tr bgcolor='#06a9fc'><td>Zillow Home Value Estimation</td><td>{{ customer['zillowHomeValueEstimation'] }}</td></tr>
                                <tr bgcolor='#06a9fc'><td>Home Equity Estimate</td><td>{{ customer['homeEquityEstimate'] }}</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">NBO Suggestion</div>

                            <!-- Table -->
                            <table class="table table-bordered" id="NBOTable" style="font-size: 14px;">
                                <tr><th>#</th><th>Offer</th><th>Probability</th></tr>
{% for r in customer['nbo_offers'] %}
<tr class="clickable-row level1offer" style="cursor:pointer;">
    <td>{{ r['index'] }}</td><td>{{ r['nboName'] }}</td><td>{{ r['nboProbability'] }}</td>
</tr>                                    
{% endfor %}
                            </table>
                        </div>
                        <div class="row">
                            <br />
                            <br />
                            <button type="button" class="btn btn-primary" id="GoToDesign" style='background-color: #06a9fc'>
                                Go to design
                            </button>
                        </div>

                    </div>
                </div>
                
                <!-- Tab panes -->
                <div class="col-md-8 text-center">
                    <div class="row">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#graphs" aria-controls="graphs" role="tab" data-toggle="tab">Graphs</a></li>
                            <li role="presentation"><a href="#KLIs" aria-controls="KLIs" role="tab" data-toggle="tab">Lifestyle Indicators</a></li>
                            <li role="presentation"><a href="#Design" aria-controls="Design" role="tab" data-toggle="tab">Design</a></li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="graphs">
                                <div class="row" id="monthly_profit">Monthly profit</div>
                                <div class="row" id="sentiment">Sentiment</div>
                                <div class="row" id="deposit_mix">Deposit Mix</div>
                                <div class="row" id="call_center">Interactions with Call Center</div>
                                <div class="row" id="survey">Survey</div>
                            </div> <!-- id="graphs" -->
                            <div role="tabpanel" class="tab-pane" id="KLIs">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Last Customer transactions</div>
                                                <!-- Transactions Table -->
                                                <table class="table table-bordered" id="TransactionsTable">
                                                    <tr><th>ID</th><th>Date</th><th>Transaction</th><th>Amount</th></tr>
                                                    <tr class="success"><td>1</td><td>10/29/2015</td><td>EGENCIA</td><td>$2200.00</td></tr>
                                                    <tr class=""><td>2</td><td>10/29/2015</td><td>ORGANIC PET SHOP</td><td>$67.87</td></tr>
                                                    <tr class=""><td>3</td><td>10/30/2015</td><td>WALMART</td><td>$90.00</td></tr>
                                                    <tr class=""><td>4</td><td>10/30/2015</td><td>TARGET</td><td>$140.00</td></tr>
                                                    <tr class=""><td>5</td><td>10/30/2015</td><td>RENT</td><td>$1000.00</td></tr>
                                                    <tr class=""><td>6</td><td>11/02/2015</td><td>REI SPORTS</td><td>$250.00</td></tr>
                                                    <tr class="success"><td>7</td><td>11/03/2015</td><td>EXPEDIA</td><td>$750.00</td></tr>
                                                    <tr class=""><td>10</td><td>11/09/2015</td><td>SUPERMARKET PLUS</td><td>$56.82</td></tr>
                                                    <tr class=""><td>11</td><td>11/13/2015</td><td>GLENFERN GOLF COURSE</td><td>$43.29</td></tr>
                                                    <tr class=""><td>12</td><td>11/15/2015</td><td>GLENFERN GOLF COURSE</td><td>$22.00</td></tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Key Indicators</div>
                                                    <!-- KLI Table -->
                                                    <table class="table table-bordered" id="KLITable">
                                                        <tr><th>#</th><th>Indicator</th></tr>
                                                        <tr class="success"><td>1</td><td>TRAVELER</td></tr>
                                                        <tr class=""><td>2</td><td>MARRIED</td></tr>
                                                        <tr class=""><td>3</td><td>AGE: millennial</td></tr>
                                                        <tr class=""><td>4</td><td>(Have) Credit Card</td></tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div id="main">
                                                    <div id="sequence"></div>
                                                    <div id="chart">
                                                        <div id="explanation" style="visibility: hidden;">
                                                            <span id="percentage"></span><br/>
                                                            of customers
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- id="KLIs" -->

                            <div role="tabpanel text-center" class="tab-pane" id="Design">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#emailModal" 
                                           data-name="{{ customer['name'] }}" data-nbo="Platinum Credit Card with 0% APR" 
                                           data-suboffer-img-id="01" data-suboffer-text="Hi John,
                                                                                         We have a exciting offer for you. You are eligible for a new Travel Rewards Credit Card with 0% APR. 
                                                                                         Benefits: 
                                                                                         - Earn unlimited 1.5 points for every $1 you spend on all purchases and points don't expire 
                                                                                         - 0% Intro APR on purchases 
                                                                                         - No annual fee. No blackout dates 
                                                                                         - Any airline, any hotel, any time 
                                                                                         - Get a 10% customer points bonus on every purchase when you have an active CapBank checking or savings account 
                                                                                         
                                                                                         Reach out to us at 1800-999-9999 for more details. 
                                                                                         
                                                                                         Regards 
                                                                                         CapBank">
                                            <img src="/static/images/email/email_tmp01.png" style="cursor: pointer;">
                                        </a>
                                    </div>
                                    <div class="col-md-12">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#emailModal" 
                                           data-name="{{ customer['name'] }}" data-nbo="Platinum Credit Card with 0% APR" 
                                           data-suboffer-img-id="02" data-suboffer-text="Hi John,
                                                                                         We have a exciting offer for you. You are eligible for a new Platinum Card with 15% cash back. 
                                                                                         Benefits: 
                                                                                         - Earn unlimited 1.5 points for every $1 you spend on all purchases and points don't expire 
                                                                                         - 15% cash back 
                                                                                         - No annual fee. No blackout dates 
                                                                                         - Any airline, any hotel, any time 
                                                                                         - Get a 10% customer points bonus on every purchase when you have an active CapBank checking or savings account 
                                                                                         
                                                                                         Reach out to us at 1800-999-9999 for more details. 
                                                                                         
                                                                                         Regards 
                                                                                         CapBank">
                                            <img src="/static/images/email/email_tmp02.png" style="cursor: pointer;">
                                        </a>
                                    </div>
                                    <div class="col-md-12">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#emailModal" 
                                           data-name="{{ customer['name'] }}" data-nbo="Platinum Credit Card with 0% APR" 
                                           data-suboffer-img-id="03" data-suboffer-text="Hi John,
                                                                                         We have a exciting offer for you. You are eligible for a new Travel Rewards Credit Card with 0% APR. 
                                                                                         Benefits: 
                                                                                         - Earn unlimited 1.5 points for every $1 you spend on all purchases and points don't expire 
                                                                                         - 0% Intro APR on purchases 
                                                                                         - No annual fee. No blackout dates 
                                                                                         - Any airline, any hotel, any time 
                                                                                         - Get a 10% customer points bonus on every purchase when you have an active CapBank checking or savings account 
                                                                                         
                                                                                         Reach out to us at 1800-999-9999 for more details. 
                                                                                         
                                                                                         Regards 
                                                                                         CapBank">
                                            <img src="/static/images/email/email_tmp03.png" style="cursor: pointer;">
                                        </a>
                                    </div>
                                </div>
                            </div><!-- id="Design" -->

                        </div> 
                    </div> <!-- row with tab-content -->
                </div> <!-- class="col-md-8" -->
            </div> <!-- class="row" -->
            <hr />
        </div> <!-- id="NBO" class="container" -->


        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="emailModalLabel">New message</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message:</label>
                                    <div class="row">
                                        <div class='col-md-6'>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                        <div id="email-image-placeholder" class='col-md-6'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block bottom %}
{{ super() }}
        <script src="/static/js/highcharts.js"></script>

        <script>
            $('#emailModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('name');
                var nbo = button.data('nbo');
                var img_id = button.data('suboffer-img-id');
                var text = button.data('suboffer-text');
                var modal = $(this);
                modal.find('.modal-title').text('New message to ' + recipient);
                modal.find('.modal-body input').val(recipient);
                modal.find('.modal-body #message-text').val(text.replace('John', recipient));
                modal.find('.modal-body #message-text').height(300);
                modal.find('#email-image-placeholder').html('<img src="/static/images/email/email_tmp' + img_id + '.png">');

            })
        </script>

        <script>
            var None = null; // For handling None values
            $('#NBOTable').on('click', '.level1offer', function(event) {
                $(this).siblings('.panel-collapse').collapse('hide');
                $('#NBOTable').find('.panel-collapse.in').collapse('hide');

                $('.nav-tabs a[href="#KLIs"]').tab('show');
            });
            $('#GoToDesign').on('click', function(event) {
                $('.nav-tabs a[href="#Design"]').tab('show');
            });
            $('#NBOTable').on('mouseover', '.clickable-row', function(event) {
              $(this).addClass('bg-info').siblings().removeClass('bg-info');
            });
            $('#NBOTable').on('mouseout', '.clickable-row', function(event) {
              $(this).removeClass('bg-info');
            });
            $(function() {
                Highcharts.setOptions({
                    colors: ['#54a0ed', '#ed020b', '#7fb005'],
                    tooltip: { pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}<br/>' },
                });
            });
            $(function () {$('#monthly_profit')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled: true},
                             xAxis: {categories: {{ customer['profitability_months']|safe }} },
                             yAxis: {title: {text: 'Monthly Profit'}, gridLineDashStyle: "Dash", labels: {enabled: false}},
                             series: [{name: 'This year', data: {{ customer['profitability_this_year'] }}, 
                                       color: '#54a0ed', connectNulls:true }, 
                                      {name: 'Last year', data: {{ customer['profitability_last_year'] }}, 
                                       color: '#ed020b', connectNulls:true }],
                             credits:{enabled:false},
                            });});
            $(function () {$('#sentiment')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled: true},
                             xAxis: {categories: ["Dec","Jan","Feb", "Mar"]},
                             yAxis: [{title: {text: '# of Activities'}, gridLineDashStyle: "Dash", allowDecimals: false , labels: {enabled: false}},
                                     {title: {text: 'Sentiment'}, gridLineDashStyle: "Dash", opposite: true, min: -5, max: 5, labels: {enabled: false}},],
                             series: [{name: 'Direct',data: [2, 5, 0, 2], color: '#54a0ed', type: 'column', yAxis: 0,}, 
                                      {name: 'Social activity',data: [5, 7, 4, 8], color: '#ed020b', type: 'column', yAxis: 0,},
                                      {name: 'Sentiment',data: [-4, 0, 4, 3], color: '#7fb005', yAxis: 1,},],
                             credits:{enabled:false},
                            });});
            $(function () {$('#deposit_mix')
                .highcharts({chart: {type: 'column', height: 200}, 
                             plotOptions: { series: { stacking: 'normal' } },
                             title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled: true},
                             xAxis: {categories: {{ customer['products_months']|safe }} },
                             yAxis: {title: {text: 'Deposit mix'}, gridLineDashStyle: "Dash", allowDecimals: false, labels: {enabled: false}},
                             series: [{name: 'Investment',data: {{ customer['investment_values'] }} },
                                      {name: 'Savings',data: {{ customer['savings_values'] }} }, 
                                      {name: 'Checking',data: {{ customer['checking_values'] }} }],
                             credits:{enabled:false},
                            });});
            $(function () {$('#call_center')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["Dec","Jan","Feb", "Mar"]},
                             yAxis: {title: {text: 'Call center contacts'}, gridLineDashStyle: "Dash", allowDecimals: false, labels: {enabled: false}},
                             series: [{name: '# of calls',data: [7, 3, 1, 6], color: '#54a0ed',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#survey')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {type: 'datetime', 
                                     dateTimeLabelFormats: { month: '%b', week: '%b', day: '%b' }, 
                                     tickInterval: 30 * 24 * 3600 * 1000, // in milliseconds
                                     min: {{ customer['surveys_date_from'] }}, 
                                     max: {{ customer['surveys_date_to'] }},
                                    },
                             yAxis: {title: {text: 'Survey'}, gridLineDashStyle: "Dash", labels: {enabled: false}},
                             series: [{name: 'Result',
                                       data: {{ customer['surveys_data'] }},
                                       color: '#54a0ed',}],
                             credits:{enabled:false},
                            });});

        </script>

    <script type = "text/javascript" src="/static/js/popup-box-right.js"></script>
    <script>
        window.onload = function(){
            $('.activator').click(function(){
                /* insert 720 page request here */
                $('#overlay').fadeIn('fast',function(){
                    $('#popup-box-right').animate({'right':'0', 'left':'10%'},1000);
                });
            });
        }
    </script>

    <script type="text/javascript" src="/static/js/sunbirst.js"></script>
{% endblock %}