{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Next Best Offer</title>
{% endblock %}
{% block body %}
{{ super() }}
        <div id="NBO" class="container">
            <h3>Next best offer</h3>
            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><a gref="#">Customer 720 View</a><br />
                                    <img src="/static/images/customer_w.png" />
                                </div>
                                <!-- Customer info Table -->
                                <table class="table table-bordered" id="CustomerTable">
                                    <tr><td>Customer Name</td><td> {{ customer['name'] }} </td></tr>
                                    <tr><td>State</td><td> {{ customer['state'] }} </td></tr>
                                    <tr><td>Investable Asset Estimate</td><td>{{ customer['investableAssetEstimate'] }}</td></tr>
                                    <tr><td>Credit Score - FICO</td><td>{{ customer['creditScoreFICO'] }}</td></tr>
                                    <tr><td>E-Mail</td><td>{{ customer['email'] }}</td></tr>
                                    <tr><td>Marital Status</td><td>{{ customer['maritalStatus'] }}</td></tr>
                                    <tr><td># of Children in home</td><td>{{ customer['numberOfChildren'] }}</td></tr>
                                    <tr><td>Zillow Home Value Estimation</td><td>{{ customer['zillowHomeValueEstimation'] }}</td></tr>
                                    <tr><td>Home Equity Estimate</td><td>{{ customer['homeEquityEstimate'] }}</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">NBO Suggestion</div>

                                <!-- Table -->
                                <table class="table table-bordered" id="NBOTable">
                                    <tr><th>#</th><th>Offer</th><th>Probability</th></tr>
{% for r in customer['nbo_offers'] %}
<tr class="clickable-row" data-toggle="modal" data-target="#emailModal" data-name="{{ customer['name'] }}" data-nbo="{{ r['nboName'] }}"><td>{{ r['index'] }}</td><td class="nbo-name">{{ r['nboName'] }}</td><td>{{ r['nboProbability'] }}</td></tr>
                                    
{% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="row" id="monthly_profit">Monthly profit</div>
                    <div class="row" id="sentiment">Sentiment</div>
                    <div class="row" id="deposit_mix">Deposit Mix</div>
                    <div class="row" id="call_center">Interactions with Call Center</div>
                    <div class="row" id="survey">Survey</div>
                </div>
            </div>
            <hr />
        </div> <!-- id="NBO" class="container" -->


        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="emailModalLabel">New message</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block bottom %}
{{ super() }}
        <script src="/static/js/highcharts.js"></script>

        <script>
            $('#emailModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('name');
                var nbo = button.data('nbo');
                var modal = $(this);
                modal.find('.modal-title').text('New message to ' + recipient);
                modal.find('.modal-body input').val(recipient);
                modal.find('.modal-body #message-text').val('Dear '+recipient+'\n\nYou are very important customer for us and we would like to make a special offer to you:\n\n'+nbo+'\n\nPlease, consider our offer. You can find more details here: http://best.offer.capbank.com.\n\nBest wishes,\nCapBank Team.');
                modal.find('.modal-body #message-text').height(300);
            })
        </script>

        <script>
            var None = null; // For handling None values 
            $('#NBOTable').on('click', '.clickable-row', function(event) {
                //alert("Click detected!");
            });
            $('#NBOTable').on('mouseover', '.clickable-row', function(event) {
              $(this).addClass('bg-info').siblings().removeClass('bg-info');
            });
            $('#NBOTable').on('mouseout', '.clickable-row', function(event) {
              $(this).removeClass('bg-info');
            });
            $(function() {
                Highcharts.setOptions({
                    colors: ['#54a0ed', '#ed020b', '#7fb005'],
                    tooltip: { pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}<br/>' },
                });
            });
            $(function () {$('#monthly_profit')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled: true},
                             xAxis: {categories: {{ customer['profitability_months']|safe }} },
                             yAxis: {title: {text: 'Monthly Profit'}, gridLineDashStyle: "Dash", labels: {enabled: false}},
                             series: [{name: 'This year', data: {{ customer['profitability_this_year'] }}, 
                                       color: '#54a0ed', connectNulls:true }, 
                                      {name: 'Last year', data: {{ customer['profitability_last_year'] }}, 
                                       color: '#ed020b', connectNulls:true }],
                             credits:{enabled:false},
                            });});
            $(function () {$('#sentiment')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled: true},
                             xAxis: {categories: ["Dec","Jan","Feb", "Mar"]},
                             yAxis: [{title: {text: '# of Activities'}, gridLineDashStyle: "Dash", allowDecimals: false , labels: {enabled: false}},
                                     {title: {text: 'Sentiment'}, gridLineDashStyle: "Dash", opposite: true, min: -5, max: 5, labels: {enabled: false}},],
                             series: [{name: 'Direct',data: [2, 5, 0, 2], color: '#54a0ed', type: 'column', yAxis: 0,}, 
                                      {name: 'Social activity',data: [5, 7, 4, 8], color: '#ed020b', type: 'column', yAxis: 0,},
                                      {name: 'Sentiment',data: [-4, 0, 4, 3], color: '#7fb005', yAxis: 1,},],
                             credits:{enabled:false},
                            });});
            $(function () {$('#deposit_mix')
                .highcharts({chart: {type: 'column', height: 200}, 
                             plotOptions: { series: { stacking: 'normal' } },
                             title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled: true},
                             xAxis: {categories: {{ customer['products_months']|safe }} },
                             yAxis: {title: {text: 'Deposit mix'}, gridLineDashStyle: "Dash", allowDecimals: false, labels: {enabled: false}},
                             series: [{name: 'Investment',data: {{ customer['investment_values'] }} },
                                      {name: 'Savings',data: {{ customer['savings_values'] }} }, 
                                      {name: 'Checking',data: {{ customer['checking_values'] }} }],
                             credits:{enabled:false},
                            });});
            $(function () {$('#call_center')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {categories: ["Dec","Jan","Feb", "Mar"]},
                             yAxis: {title: {text: 'Call center contacts'}, gridLineDashStyle: "Dash", allowDecimals: false, labels: {enabled: false}},
                             series: [{name: '# of calls',data: [7, 3, 1, 6], color: '#54a0ed',}],
                             credits:{enabled:false},
                            });});
            $(function () {$('#survey')
                .highcharts({chart: {type: 'line', height: 200}, 
                             title:{text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                             legend:{enabled:false},
                             xAxis: {type: 'datetime', 
                                     dateTimeLabelFormats: { month: '%b', week: '%b', day: '%b' }, 
                                     tickInterval: 30 * 24 * 3600 * 1000, // in milliseconds
                                     min: {{ customer['surveys_date_from'] }}, 
                                     max: {{ customer['surveys_date_to'] }},
                                    },
                             yAxis: {title: {text: 'Survey'}, gridLineDashStyle: "Dash", labels: {enabled: false}},
                             series: [{name: 'Result',
                                       data: {{ customer['surveys_data'] }},
                                       color: '#54a0ed',}],
                             credits:{enabled:false},
                            });});

        </script>
{% endblock %}