{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Predictive Customer Intelligence</title>
    <style>
        .dataset { cursor: pointer; }
    </style>
{% endblock %}
{% block body %}
{{ super() }}
        <div id="pci" class="container" >
                        <h3>Predictive Customer Intelligence</h3>
                <hr />
            <div class="row">
                <div class='col-md-2'>
                    <div class="panel panel-default text-center">
                        <div class="panel-heading"><h3>Data Sets</h3></div>
                        <div class="panel-body bg-info"><a class="dataset"><img src="/static/images/spreadsheet2.png"></img>Dataset_1</a></div>
                        <div class="panel-body"><a class="dataset"><img src="/static/images/spreadsheet2.png"></img>Dataset_2</a></div>
                        <div class="panel-body"><a class="dataset"><img src="/static/images/spreadsheet2.png"></img>Dataset_3</a></div>
                    </div>
                </div>
                <div class='col-md-10'>
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label for="query">Enter you query</label>
                                <input type="text" class="form-control" id="query" placeholder="Enter you query and press <<Enter>>">
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div id="Col1Pie"></div>
                    </div>
                </div>
            </div>
            <hr />
        </div> <!-- id="pci" class="container" -->
{% endblock %}

{% block bottom %}
{{ super() }}

<script src="/static/js/highcharts.js"></script>

<script>
    $(function() {
        Highcharts.setOptions({
            colors: ['#7fb005', '#ed020b', '#54a0ed', '#ffb446'], 
        });
        $('#Col1Pie')
            .highcharts({chart: {type: 'line',  height: 400}, 
                title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" }, }, 
                series: [{name: 'Feedback',data: [{name:'negative: 9%', y:9}, {name:'positive: 91%', y:91} ]}],
                credits:{enabled:false},
            });
    });
</script>
{% endblock %}