{% extends 'index.html' %}
{% block head %}
{{ super() }}
<title>Predictive Customer Intelligence</title>
<style>
	.dataset { cursor: pointer; }
	.recentquery { height: 200px; cursor: pointer; }
	.queryimage {
		opacity: 0.2;
		position: absolute;
		left: 7%;
		top: 0%;
	}
	#loadingDiv {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px -50px;
		width: 800px;
		height: 600px
		opacity: 0.5;
		z-index: 105;
	}
	.info {
		padding: 6px 8px;
		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
	}
	div.targets {
		border-bottom: 1px solid;
		margin-left: 0px;
		margin-right: 0px;
	}
	div.target_percent {
		//background-color: #999;
		margin-top: 5px;
	}
	div.target_conditions {
		margin-top: 5px;
	}
	div.condition {
		//padding: 1px;
	}
	/* Images inside tab switchers */
	.nav-tabs img {
		width:100%;
	}
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
		outline:none;
		background-color: #ffffff;
		border: 1px solid #fff;
		border-bottom-color: transparent;
		cursor: default;
	}
	.nav .nav-tabs li a:hover: {
		background-color:none;
		border: none;
	}
	.nav-tabs li a:active {
		background-color:#ffffff;
		border:none;
		border-right:0;
	}
	l.nav .nav-tabs {
	}
	.tabs-below > .nav-tabs, {
		border: 0px;
	}
	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
		display: none;
	}
	.tab-content > .active,
	.pill-content > .active {
		display: block;
	}
	.tab_name {
		position: absolute;
		top: 10px;
		right: 20px;
		text-align: right;
		font-size: 36px;
		font-weight: bold;
		color: rgb(34, 34, 34);
	}
</style>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
{% endblock %}
{% block body %}
{{ super() }}
<div id="pci" class="container" >
	<h3>Predictive Customer Intelligence</h3>
	<hr />
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">
			<img src="/static/images/orange.png" class="img=responsive">
			<div class="tab_name">Recent Queries<br />by Group</div>
		</a></li>
        <li role="presentation"><a href="#newquery" aria-controls="newquery" role="tab" data-toggle="tab">
			<img src="/static/images/blue.png" class="img=responsive">
			<div class="tab_name">New Query</div>
			</a>
		</li>
        <li role="presentation"><a href="#predictive" aria-controls="predictive" role="tab" data-toggle="tab">
			<img src="/static/images/green.png" class="img=responsive">
			<div class="tab_name">Predictive<br />Intelligence</div>
			</a>
		</li>
    </ul>
	<div id="loadingDiv"><!-- <img src="static/images/logo_medium.png"> --><i class="fa fa-refresh fa-spin" style="font-size: 100px; font-color: lightgray"></i></div>

    <div class="tab-content clearfix">
        <div role="tabpanel" class="tab-pane active" id="recent">
			<div class="row">
				<br />
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Average income by gender in Minnesota
							<img src="/static/images/query_bg/q01bw.png" class="queryimage">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Who buys debt funds in NV?
							<img src="/static/images/query_bg/q02bw.png" class="queryimage" style="top: 20%;">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Average income by state among unemployed males
							<img src="/static/images/query_bg/q03bw.png" class="queryimage" style="top: 20%;">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Customers with debt funds by age among blue-collars
							<img src="/static/images/query_bg/q04bw.png" class="queryimage" style="opacity: 0.3; top: 35%;">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Customers with credit card by state
							<img src="/static/images/query_bg/q05bw.png" class="queryimage" style="top: 20%;">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Job distributions among males in New York
							<img src="/static/images/query_bg/q06bw.png" class="queryimage" style="top: 20%;">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Male vs female among unemployed
							<img src="/static/images/query_bg/q07bw.png" class="queryimage" style="top: 10%;">
						</div>
					</div>
				</div>
				<div class='col-md-3'>
					<div class="panel panel-default">
						<div class="panel-body recentquery">
							Show maximum income by state
							<img src="/static/images/query_bg/q08bw.png" class="queryimage" style="top: 20%;">
						</div>
					</div>
				</div>
			</div>
		</div>
        <div role="tabpanel" class="tab-pane" id="newquery">
			<div class="row">
				<div class='col-md-2'>
					<div class="panel panel-default text-center">
						<div class="panel-heading"><h3>Data Sets</h3></div>
						<div class="panel-body dataset bg-info"><a><img src="/static/images/spreadsheet2_sm.png">Dataset_1</a></div>
						<div class="panel-body dataset"><a><img src="/static/images/spreadsheet2_sm.png">Dataset_2</a></div>
						<div class="panel-body dataset"><a><img src="/static/images/spreadsheet2_sm.png">Dataset_3</a></div>
					</div>
				</div>
				<div class='col-md-10'>
					<div class="row">
						<div class='col-md-12'>
							<form id="queryForm">
								<div class="form-group">
									<label for="query"><!-- Enter you query --></label>
									<input type="text" class="form-control" id="query" name="query" placeholder="Enter you query and press <<Enter>>" autofocus>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class='col-md-12'>
							<div id="queryChart" style="width: 100%; height: 500px;"></div>
							<hr />
							<div class="row">
								<div class='col-md-6'>
									<div id="send_result"></div>
								</div>
								<div class='col-md-6'>
									<div id="Buttons" class="pull-right">
										<input class="btn btn-primary" style="width: 100px" value="E-Mail" id="queryChartEmail" type="button">
										<input class="btn btn-primary" style="width: 100px" value="Download" id="queryChartDownload" type="button">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div role="tabpanel" class="tab-pane" id="predictive">
			<div class="row">
				<div class='col-md-12'>
					<form id="modelForm">
						<div class="form-group">
							<label for="modelQuery"><!-- Enter you query --></label>
							<input type="text" class="form-control" id="modelQuery" name="query" placeholder="Enter you query and press <<Enter>>">
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class='col-md-12' id="targets">
				</div>
			</div>
			<div class="row">
				<div class='col-md-6'>
					<br />
					<div id="featuresChart" style="width: 100%; height: 500px;"></div>
				</div>
				<div class='col-md-6'>
					<br />
					<div id="modelChart" style="width: 100%; height: 500px;"></div>
					<hr />
					<div class="row">
						<div class='col-md-12'>
							<div id="Buttons" class="pull-right">
								<input class="btn btn-primary" style="width: 100px" value="E-Mail" id="modelChartEmail" type="button">
								<input class="btn btn-primary" style="width: 100px" value="Download" id="modelChartDownload" type="button">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
</div> <!-- id="pci" class="container" -->
{% endblock %}

{% block bottom %}
{{ super() }}

<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/highcharts-exporting.js"></script>
<script src="/static/js/highcharts-offline-exporting.js"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script type="text/javascript" src="/static/js/us-states.js"></script>
<script>
    var lastType = null,		// last chart type on "New Query" tab
		lastQuery = "",			// last plain query run
		lastPredictiveQuery = "",	// last predictive query run
        map = null, 			// map object for "New Query" tab
		mapPredictor = null,	// map object for "Predictive Queries" tab
        states_shapes = null, 	// string with state shapes
        info = null, 			// map info object
		infoPredictor = null,	// mapPredictor info object
		lastPredictor,			// type of last predictor shown (highcharts|map)
		lastPredictiveMsg = null;	// last msg received from server

    $(function() {
        Highcharts.setOptions({
            colors: ['#7fb005', '#ed020b', '#54a0ed', '#ffb446', "#0079E7","#D82735","#009E47","#f7a35c","#8085e9","#f15c80",
					"#e4d354","#2b908f","#f45b5b","#91e8e1", "#7032d6","#32f41b","#d1624d","#a3f75c","#f580e9","#5cf180",
					"#d3e454","#902b8f","#5ba45b","#e891e1"], 
			exporting: {
				chartOptions: { // specific options for the exported image
					plotOptions: { series: { dataLabels: { enabled: true } } }
				},
				scale: 1,
				fallbackToExportServer: false,
				buttons: { contextButton: { enabled: false }, exportButton: { enabled: false } },
//				buttons: { contextButton: { enabled: false },
//					exportButton: {
//						text: 'Download',
//						// Use only the download related menu items from the default context button
//						menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.splice(2)
//					},
//				},
			},
        });
    });

    $(function() {
        var $loading = $('#loadingDiv').hide();
        $(document)
            .ajaxStart(function () {
            $loading.show();
        })
            .ajaxStop(function () {
            $loading.hide();
        });
    });
    $("#queryForm").submit(function(event){
        // cancels the form submission
        event.preventDefault();
        submitForm($('form#queryForm').serialize());
    });
    $("#modelForm").submit(function(event){
        // cancels the form submission
        event.preventDefault();
        submitForm($('form#modelForm').serialize());
    });
    $(".dataset").click(function(event){
        event.preventDefault();
        $(this).siblings().removeClass("bg-info");
        $(this).addClass("bg-info");
    });
    $.get('/static/js/us-states.json', function( data ) {
        states_shapes = data;
    })

    function submitForm(form_data) {
        $.ajax({ type: "POST",
            url: "/send_pci_query",
            data: form_data,
            success: function(msg){
                updateChart(msg);
            },
            error: function(){
                //alert("fail send request to server");
				updateChart({'error': 'yes', 'error_text': 'Cannot understand you query, please try to paraphrase it'});
            }
        });
    }

    function updateChart(msg) {

        if (msg['type'] !== 'model') { // Clear last chart on NewQuery tab
			lastQuery = msg['query'];
			if (lastType == 'linear') {
				var chart = $('#queryChart').highcharts();
				if(chart !== undefined) chart.destroy();
				lastType = null;
			} else if (lastType == 'pie') {
				var chart = $('#queryChart').highcharts();
				if(chart !== undefined) chart.destroy();
				lastType = null;
			} else if (lastType == 'map') {
				// delete previous map here
				if(map) map.remove();
				$('#queryChart').removeClass();
				lastType = null;
			}
		} else {
			lastPredictiveQuery = msg['query'];
		}
		$("#query").val(lastQuery);
		$("#modelQuery").val(lastPredictiveQuery);
		
		if(msg.error) {
			$('.nav-tabs a[href="#newquery"]').tab('show');
			$("#send_result").html(msg['error_text']);
			return;
		}

        $("#send_result").html(msg['title']);
		
        if( msg['type'] == 'linear') {
            lastType = 'linear';
			$('.nav-tabs a[href="#newquery"]').tab('show');
            $('#queryChart').highcharts({chart: {type: 'line',  height: 400}, 
                //title: {text: msg['title'], verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" }, }, 
				title: {text: ''}, 
                credits:{enabled:false},
				yAxis: {title: { text: msg['yTitle'] },},
                xAxis: {title: { text: msg['xTitle'] }, categories: msg['xAxis'] },
                series: [{name: msg['yTitle'], data: msg['yAxis'] }],
            });
        }
        if( msg['type'] == 'map') {
            lastType = 'map';
			$('.nav-tabs a[href="#newquery"]').tab('show');
            createMap(msg);
        }
        if( msg['type'] == 'pie') {
            lastType = 'pie';
			$('.nav-tabs a[href="#newquery"]').tab('show');
			series_data = [];
			for (var i in msg['yAxis']) {
				series_data.push({name: msg['xAxis'][i], y: msg['yAxis'][i]});
			}
            $('#queryChart').highcharts({chart: {type: 'pie',  height: 400}, 
                //title: {text: msg['title'], verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" }, }, 
				title: {text: ''}, 
				tooltip: {formatter: function () {return '<span style="color:{series.color}">'+this.key+'</span>: <b>'
														+this.y.formatMoney(0)+'</b> ('+Math.round(this.percentage)+'%)<br/>';},
						shared: true },
                credits:{enabled:false},
				series: [{name: 'Data', colorByPoint: true, data: series_data }],
            });
        }
        if( msg['type'] == 'table') {
            lastType = 'table';
			$('.nav-tabs a[href="#newquery"]').tab('show');
            //createMap(msg);
        }
		if( msg['type'] == 'model') {
			lastPredictiveMsg = msg;
			$('.nav-tabs a[href="#predictive"]').tab('show');
			
			categories = [];
			series_data = [];
			for (var i in msg['features']) {
				categories.push(msg['features'][i][0]);
				series_data.push(msg['features'][i][1]);
			}
            $('#featuresChart').highcharts({chart: {polar: true, type: 'line',  height: 500, }, 
				title: { text: 'Predictors importance', x: 0 }, 
		        pane: { size: '80%' },
				xAxis: { categories: categories, tickmarkPlacement: 'on', lineWidth: 0},
				yAxis: { gridLineInterpolation: 'polygon', lineWidth: 0, min: -0.1, startOnTick: false, labels: {enabled: false} },
				credits:{enabled:false},
				legend: {enabled:false},
				tooltip: {formatter: function () {return '<span style="color:'+this.color+'">\u25CF</span> '+this.key+': <b>' + Math.round(this.y*1000)/10.0 +' %</b><br/>';} },
				series: [{name: 'Predictors', colorByPoint: false, data: series_data, pointPlacement: 'on', 
						point:{ events:{ click: function (event) { showPredictor(this.category); } } } }],
				exporting: { buttons: { contextButton: { enabled: false }, exportButton: { enabled: false } } }
            });
			showPredictor('Age'); // Show 'age' by default
			updateTargets();
        }
    }
	
	function updateTargets() {
		targ = lastPredictiveMsg['targets'];
		colors = ['#D82735','#FF7435','#FFA135','#FFCB35','#FFF738','#00753A','#009E47','#16DD38'].reverse();
		c_ind = 0;
		str = "";
		for (var i in targ) {
			color = colors[c_ind];
			c_ind++;
			if(c_ind >= colors.length) {c_ind = 0;}
			
			str += "<div class='row targets'>";
			str += "<div class='col-md-1 text-center target_percent' style='background-color: " + color 
				+ "'><b>" + targ[i]['percents'] + "%</b>: <br /></div>";
			str += "<div class='col-md-11 target_conditions'>";
			str += "<div class='row'>";
			for(var key in targ[i]['conditions']) {
				if(key == "gender") {
					str += "<div class='col-md-2 condition'>";
					str += "Gender: " + targ[i]['conditions'][key] + "<br />";
					str += "</div>";
				} else if (key == "debt_funds") {
					str += "<div class='col-md-2 condition'>";
					str += "Debt funds: " + targ[i]['conditions'][key] + "<br />";
					str += "</div>";
				} else if (key == "credit_card") {
					str += "<div class='col-md-2 condition'>";
					str += "Credit card: " + targ[i]['conditions'][key] + "<br />";
					str += "</div>";
				} else if (key == "state") {
					str += "<div class='col-md-2 condition'>";
					if (targ[i]['conditions'][key]['in']) {
						str += "State: " + targ[i]['conditions'][key]['in'] + "<br />";
					} else {
						cond_list = targ[i]['conditions'][key]['not_in'].join(", ")
						str += "State not in: " + cond_list + "<br />";						
					}
					str += "</div>";
				} else if (key == "marital") {
					str += "<div class='col-md-2 condition'>";
					if (targ[i]['conditions'][key]['in']) {
						str += "Marital status: " + targ[i]['conditions'][key]['in'] + "<br />";
					} else {
						cond_list = targ[i]['conditions'][key]['not_in'].join(", ")
						str += "Marital status not in: " + cond_list + "<br />";						
					}
					str += "</div>";
				} else if (key == "job") {
					str += "<div class='col-md-2 condition'>";
					if (targ[i]['conditions'][key]['in']) {
						str += "Job type: " + targ[i]['conditions'][key]['in'] + "<br />";
					} else {
						cond_list = targ[i]['conditions'][key]['not_in'].join(", ")
						str += "Job type not in: " + cond_list + "<br />";						
					}
					str += "</div>";
				} else if (key == "education") {
					str += "<div class='col-md-2 condition'>";
					if (targ[i]['conditions'][key]['in']) {
						str += "Education level: " + targ[i]['conditions'][key]['in'] + "<br />";
					} else {
						cond_list = targ[i]['conditions'][key]['not_in'].join(", ")
						str += "Education level not in: " + cond_list + "<br />";						
					}
					str += "</div>";
				} else if (key == "income") {
					str += "<div class='col-md-2 condition'>";
					if (targ[i]['conditions'][key]['lower'] == null) {
						str += "Income lower than: $" + (0.0+targ[i]['conditions'][key]['upper']).formatMoney(0) + "<br />";											
					} else if (targ[i]['conditions'][key]['upper'] == null) {
						str += "Income higher than: $" + (0.0+targ[i]['conditions'][key]['lower']).formatMoney(0) + "<br />";											
					} else {
						str += "Income: between $" + (0.0+targ[i]['conditions'][key]['lower']).formatMoney(0) + " and $" 
							+ (targ[i]['conditions'][key]['upper']).formatMoney(0) + "<br />";											
					}
					str += "</div>";
				} else if (key == "age") {
					str += "<div class='col-md-2 condition'>";
					if (targ[i]['conditions'][key]['lower'] == null) {
						str += "Yonger than: " + Math.round(targ[i]['conditions'][key]['upper']) + "<br />";											
					} else if (targ[i]['conditions'][key]['upper'] == null) {
						str += "Older than: " + Math.round(targ[i]['conditions'][key]['lower']) + "<br />";											
					} else {
						str += "Age: between " + Math.round(targ[i]['conditions'][key]['lower']) + " and " 
							+ Math.round(targ[i]['conditions'][key]['upper']) + "<br />";											
					}
					str += "</div>";
				} else {
					console.log("Unknown condition key:" + key);
				}
			}
			str += "</div>"; // row target_conditions
			str += "</div>"; // col-md-10
			str += "</div>"; // col-md-2
			str += "</div>"; // row targets
		}
		$('#targets').html(str);
	}
	
	function showPredictor(pr_name) {
	    if (lastPredictor == 'highcharts') {
            var chart = $('#modelChart').highcharts();
            if(chart !== undefined) chart.destroy();
			lastPredictor = null;
        } else if (lastPredictor == 'map') {
            // delete previous map here
            if(mapPredictor) mapPredictor.remove();
            $('#modelChart').removeClass();
			lastPredictor = null;
        }
		
		if(pr_name == 'Age' || pr_name == 'Income') {
			lastPredictor = 'highcharts';
			params = lastPredictiveMsg['charts'][pr_name];
			$('#modelChart').highcharts({chart: {type: 'line',  height: 400}, 
				title: {text: 'Predictor: ' + params['name']},
				credits:{enabled:false},
				yAxis:  {title: { text: '' },},
				xAxis: {categories: params['categories']},
				tooltip: { valueSuffix: ' %' },
				series: params['series'],
			});
		} else if (pr_name == 'Gender' || pr_name == 'Marital'){
			lastPredictor = 'highcharts';
			params = lastPredictiveMsg['charts'][pr_name];
			$('#modelChart').highcharts({chart: {type: 'column'},
				title: {text: 'Predictor: ' + params['name']},
				credits:{enabled:false},
				xAxis: {categories: params['categories']},
				yAxis: {min: 0,title: {text: ''}},
				tooltip: { pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>', shared: true },
				plotOptions: { column: {stacking: 'normal'}}, //'normal' or 'percent'
				series: params['series'], 
			});
		} else if (pr_name == 'Debt funds' || pr_name == 'Credit card'){
			lastPredictor = 'highcharts';
			params = lastPredictiveMsg['charts'][pr_name];
			$('#modelChart').highcharts({ chart: {type: 'bubble',plotBorderWidth: 1,zoomType: 'xy'},
				title: {text: 'Predictor: Product-to-Product'},
				xAxis: { categories: ["Has CC", "Has no CC"], gridLineWidth: 1, min: 0, max: 1,},
				yAxis: { categories: ["Buys DF", "Don't buys DF"], min: 0, max: 1, title: {text: ''} },
				credits:{enabled:false},
				legend: {enabled:false},
				series: [
				{ name: 'Has CC', data: [ [0, 1, 630], [0, 0, 89],],
					marker: {
						fillColor: {
							radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
							stops: [
								[0, 'rgba(255,255,255,0.5)'],
								[1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
							]
						}
					}
				}, { name: 'Has no CC', data: [ [1, 1, 73], [1, 0, 14],],
					marker: {
						fillColor: {
							radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
							stops: [
								[0, 'rgba(255,255,255,0.5)'],
								[1, Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.5).get('rgba')]
							]
						}
					}
				}]
			});
		} else if (pr_name == 'Job' || pr_name == 'Education'){
			lastPredictor = 'highcharts';
			params = lastPredictiveMsg['charts'][pr_name];
			$('#modelChart').highcharts({ chart: {type: 'column'},
				title: { text: 'Predictor: ' + params['name'] },
				credits:{enabled:false},
				xAxis: { categories: params['categories'],
					crosshair: true
				},
				yAxis: { allowDecimals: false, min: 0, title: { text: '' } },
				tooltip: {
					headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
					pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
						'<td style="padding:0" nowrap><b>{point.y:f}</b> %</td></tr>',
					footerFormat: '</table>',
					shared: true,
					useHTML: true
				},
				plotOptions: { column: { pointPadding: 0.2, borderWidth: 0} },
				series: params['series']
			});
		} else if (pr_name == 'State'){
			lastPredictor = 'map';
			createPredictorMap(lastPredictiveMsg['charts'][pr_name]);
		}
	}
	
    function createMap(msg) {
        map = L.map('queryChart').setView([37.8, -96], 4);
        
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ2VvcmdpeXRyb2ZpbW92IiwiYSI6ImNpbGxndHdqcjVxNHZ2cm0wajAyNjBxMW4ifQ.c1-Cm-vjLwMnAwMLfs5pQw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.light'
        }).addTo(map);

        // control that shows state info on hover
        info = L.control();

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info.update = function (props) {
            //customer list
            this._div.innerHTML = '<h4>Value for state:</h4>' +  (props ?
                                                                       '<b>' + props.name + '</b><br />' + props.value + ''
                                                                       : 'Hover over a state');
        };
        info.addTo(map);

        geojson = L.geoJson(getGeoJSON(msg), {style: style, onEachFeature: onEachFeature}).addTo(map);

    }

    function createPredictorMap(params) {
        mapPredictor = L.map('modelChart').setView([37.8, -96], 4);
        
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ2VvcmdpeXRyb2ZpbW92IiwiYSI6ImNpbGxndHdqcjVxNHZ2cm0wajAyNjBxMW4ifQ.c1-Cm-vjLwMnAwMLfs5pQw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.light'
        }).addTo(mapPredictor);

        // control that shows state info on hover
        infoPredictor = L.control();

        infoPredictor.onAdd = function (mapPredictor) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        infoPredictor.update = function (props) {
            //customer list
            this._div.innerHTML = '<h4>Value for state:</h4>' +  (props ?
                                                                       '<b>' + props.name + '</b><br />' + props.value + '%'
                                                                       : 'Hover over a state');
        };
        infoPredictor.addTo(mapPredictor);

        geojsonPredictor = L.geoJson(getGeoJSON(params), {style: style, onEachFeature: onEachFeature}).addTo(mapPredictor);

    }

    // get color depending on population density value
    function getColor(d) {
		if (d == -1.0) return '#AAAAAA';
        return d > 0.7 ? '#D82735' :
        d > 0.6 ? '#FF7435' :
        d > 0.5  ? '#FFA135' :
        d > 0.4  ? '#FFCB35' :
        d > 0.3  ? '#FFF738' :
        d > 0.2   ? '#16DD38' :
        d > 0.1   ? '#009E47' :
        '#00753A';
    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.8,
            fillColor: getColor(feature.properties.colorFlag)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }

        if (info) { info.update(layer.feature.properties); }
        if (infoPredictor) { infoPredictor.update(layer.feature.properties); }
    }

    function resetHighlight(e) {
        if(typeof(geojson) !== "undefined") { geojson.resetStyle(e.target); }
		if(typeof(geojsonPredictor) !== "undefined") { geojsonPredictor.resetStyle(e.target); }
        if (info) { info.update(); }
        if (infoPredictor) { infoPredictor.update(); }
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }
    function getGeoJSON(msg) {
        res = JSON.parse(states_shapes);

        for (i in res['features']) {
            var state = res['features'][i]['properties']['name'];
            if (typeof(msg['states'][state]) !== "undefined") {
                value = msg['states'][state]['value'];
                colorFlag = (value - msg['minValue']) * 1.0 / msg['maxValue']
            } else {
                value = 'N/A';
                colorFlag = -1.0;
            }
            res['features'][i]['properties']['value'] = value;
            res['features'][i]['properties']['colorFlag'] = colorFlag;
        }
        return res;
    }
	$(".recentquery").mouseover(function (){ $(this).addClass("bg-info") });
	$(".recentquery").mouseout(function (){ $(this).removeClass("bg-info") });
	$(".recentquery").click(function () {
		var selected_query = $.trim($(this).html().split("<")[0]); // Cut-off html code with an image and spaces
		$("#query").val(selected_query);
		$("form#queryForm").submit();
		$('.nav-tabs a[href="#newquery"]').tab('show');
	});
	$('#queryChartDownload').click(function () {
		var chart = $('#queryChart').highcharts();
		if(chart == undefined) return; // No chart
		chart.exportChartLocal()		
	});
	$('#modelChartDownload').click(function () {
		var chart = $('#modelChart').highcharts();
		if(chart == undefined) return; // No chart
		chart.exportChartLocal()
	});
	Number.prototype.formatMoney = function(decPlaces, thouSeparator, decSeparator) {
		var n = this,
			decPlaces = isNaN(decPlaces = Math.abs(decPlaces)) ? 2 : decPlaces,
			decSeparator = decSeparator == undefined ? "." : decSeparator,
			thouSeparator = thouSeparator == undefined ? "," : thouSeparator,
			sign = n < 0 ? "-" : "",
			i = parseInt(n = Math.abs(+n || 0).toFixed(decPlaces)) + "",
			j = (j = i.length) > 3 ? j % 3 : 0;
		return sign + (j ? i.substr(0, j) + thouSeparator : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thouSeparator) + (decPlaces ? decSeparator + Math.abs(n - i).toFixed(decPlaces).slice(2) : "");
	};
</script>
{% endblock %}
