{% extends 'index.html' %}
{% block head %}
{{ super() }}
    <title>Wealth Management</title>
    <link rel="stylesheet" href="http://visjs.org/dist/vis.css">
    <style>
        h4{
            
            color:rgb(340,115,30);
            font-weight:500;
            
            /*
            color:#fff;
            background-color:#ffb446;
            margin: 0 0 10 0px;
            padding: 10px;
            font-weight:500;
            */
        }
        
        .name-box{
            background:#54a0ed;
        }
        .name-box td{
            color: #fff;
        }
        
        .main-box .glyphicon{
            color:rgb(340,115,30);
        }
        .main-box hr{
            margin: 10 0 10 0px;
        }
        
        .text-box td, th{
            padding: 5 15 5 15px;
            /*width:50%;*/
        }
        .text-box table{
            width:100%;
        }
        .text-box{
            background:#fff;
            margin: 0;
            padding: 15 0 15 0px;
        }
        .text-box h4, h5{
            text-align: center;
        }
        
        .icon_h{
            font-size: 26px;
        }
        .first-col {
            text-align: right;
            width: 50%;
        }
        .icon_td{
            width:25px;
        }
        .alerts td {
            padding:10px;
        }
        
        .glyphicon-exclamation-sign{
            color:rgb(255, 27, 36);
        }
        .glyphicon-ok-sign{
            color: green;
        }
        .fa-twitter{
            color: #00aced;
        }
        
        #visualization1{
            font-size: 14px;
        }
        #interaction_table {
            width: 100%;
        }
        #interaction_table td{
            padding: 0 10 10 10px;
        }
        
        .row{
            overflow: hidden;
            padding-bottom: 10px;
        }
        
        .alert-hidden{
            display:none;
        }

        [class*="col-"]{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            padding-right: 7px;
            padding-left: 7px;
        }
        
        .vis-item,
        .vis-time-axis {
            font-size: 12px;
        }
        
        .myButton {
            -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
            -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
            box-shadow:inset 0px 1px 0px 0px #fff6af;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffb546), color-stop(1, #ff741e));
            background:-moz-linear-gradient(top, #ffb546 5%, #ff741e 100%);
            background:-webkit-linear-gradient(top, #ffb546 5%, #ff741e 100%);
            background:-o-linear-gradient(top, #ffb546 5%, #ff741e 100%);
            background:-ms-linear-gradient(top, #ffb546 5%, #ff741e 100%);
            background:linear-gradient(to bottom, #ffb546 5%, #ff741e 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb546', endColorstr='#ff741e',GradientType=0);
            background-color:#ffb546;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
            border-radius:6px;
            border:1px solid #ffaa22;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            padding:6px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #9e9029;
        }
        .myButton:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff741e), color-stop(1, #ffb546));
            background:-moz-linear-gradient(top, #ff741e 5%, #ffb546 100%);
            background:-webkit-linear-gradient(top, #ff741e 5%, #ffb546 100%);
            background:-o-linear-gradient(top, #ff741e 5%, #ffb546 100%);
            background:-ms-linear-gradient(top, #ff741e 5%, #ffb546 100%);
            background:linear-gradient(to bottom, #ff741e 5%, #ffb546 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff741e', endColorstr='#ffb546',GradientType=0);
            background-color:#ff741e;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    </style>
{% endblock %}
{% block body %}
{{ super() }}
<div class="overlay boxclose" id="overlay" style="display:none;"></div>
<div class="popup-box-right" id="popup-box-right" style="z-index:7000;">
    <div id="user_graph"></div>
</div>

<div id="wealth_management" class="container-fluid">
    <h3>Wealth Management</h3>

    {% if status == 'ok' %}
    <div class="row">
        <div class='col-md-3'>
            <div class='name-box' style="display:inline-block; width:100%">
                <table style='width:100%'><tr>
                    <td style='width:100px'>
                        <img src="/static/images/deborah_cut.png" style="margin-left: 0px; left: 0">
                    </td>
                    <td>
                        <h3 style="text-align: center; margin-top: 0px;">{{ name }}</h3>
                    </td>
                    </tr></table>
            </div>

            
            
            
            
            
            
            
            
            
            <div style="padding-right: 15px;padding-left: 15px;">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-cont text-box">
                        <h4><i class="fa fa-users"></i> Client News</h4>
                        <div class="list-group">
                            <a href="?name=Kevin%20Arrix" class="list-group-item">
                                <div class="list-group-item-heading">
                                    <h4 class="list-group-item-heading">New Appointment</h4>
                                    <h5 class="list-group-item-heading">Kevin Arrix</h5>
                                </div>
                                <p class="list-group-item-text"><span class="text-muted">2015-10-06</span><br>Verve Names Kevin Arrix Chief Revenue Officer Verve, the leader in location-based mobile advertising, today announced th...</p>
                            </a>
                            <a href="?name=Lisa%20Speransky" class="list-group-item">
                                <div class="list-group-item-heading">
                                    <h4 class="list-group-item-heading">New Appointment</h4>
                                    <h5 class="list-group-item-heading">Lisa Speransky</h5>
                                </div>
                                <p class="list-group-item-text"><span class="text-muted">2015-10-06</span><br>BEABA USA Announces New CEO BEABA, internationally known juvenile product company, and creator of first steam cooker and...</p>
                            </a>
                        </div>
                        <h4><i class="fa fa-briefcase"></i> Client Company M&amp;A News</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Merger/Acquisition</h4>
                                <p class="list-group-item-text"><span class="text-muted">2015-10-12</span><br>BlackRock Closes Acquisition of Infraestructura Institucional BlackRock, Inc. (NYSE:BLK) has closed the acquisition of I...</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading"></h4>
                                <p class="list-group-item-text"><span class="text-muted">2015-09-22</span><br>Company Medallion Financial considers going private, following recent approaches and ?misunderstanding? over Uber Medall...</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Merger/Acquisition</h4>
                                <p class="list-group-item-text"><span class="text-muted">2015-08-26</span><br>BlackRock to Acquire FutureAdvisor BlackRock, Inc. (NYSE:BLK) has entered into a definitive agreement to acquire FutureA...</p>
                            </a>
                        </div>
                        <h4><i class="fa fa-share-alt"></i> SocialNews Social Media Insights</h4>
                        <hr style="margin:15px">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="padding-left:21px;padding-right:21px;">
            <div class="row" style="margin-bottom: 15px; height: 150px;">
                <div class="col-md-12">
                    <div class="col-cont text-box">
                        <div id="wm_timeline" style="padding:10px;"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-8">
                    <div class="col-cont text-box"> <!-- Column chart -->
                        <h4><i class="fa fa-usd"></i> Assets</h4>
                        <div class="col-sm-6">
                            <div id="columnChart" style="margin-bottom:7px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <table>
                                <tr><td>Investment Assets</td><td id="IAssets"></td></tr>
                                <tr><td>Other Assets</td><td id="OAssets"></td></tr>
                                <tr><td>Total Assets</td><td id="TAssets"></td></tr>
                                <tr><td>Liabilities</td><td id="liabilities"></td></tr>
                                <tr style="border-top: medium solid;"><td>Net Worth</td><td id="netWorth"></td></tr>
                            </table>
                            <input class="btn btn-primary myButton activator btn-block" type="button" value="Show Network">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"> <!-- Property info, "Network" button -->
                    <div class="col-cont text-box">
                        <h4><i class="fa fa-home"></i> Properties</h4>
                        <div style="max-height: 180px; overflow-y: auto;  margin-bottom:7px;">
                            <!-- Properties Table -->
                            <table style="font-size:80%;width:100%">
                                <tbody>
                                    <tr><td colspan="2" style="background-color:#aaaafa;">Property #1</td></tr>
                                    <tr><td>County  State</td><td>Queens, NY</td></tr>
                                    <tr><td>Purchase Date</td><td> 18.04.2013</td></tr>
                                    <tr><td>Purchase Amount</td><td> $ 461,000</td></tr>
                                    <tr><td>Equity Value</td><td> $ 149,066</td></tr>
                                    <tr><td>Equity Percentage Opportunity</td><td> </td></tr>
                                    <tr><td colspan="2" style="background-color:#aaaafa;">Property #2</td></tr>
                                    <tr><td>County  State</td><td>Westchester, NY</td></tr>
                                    <tr><td>Purchase Date</td><td> 29.12.1976</td></tr>
                                    <tr><td>Purchase Amount</td><td> $ 65,000</td></tr>
                                    <tr><td>Equity Value</td><td> $ 620,786</td></tr>
                                    <tr><td>Equity Percentage Opportunity</td><td> High equity</td></tr>
                                    <tr><td colspan="2" style="background-color:#aaaafa;">Property #3</td></tr>
                                    <tr><td>County  State</td><td>Nassau, NY</td></tr>
                                    <tr><td>Purchase Date</td><td> 03.09.1997</td></tr>
                                    <tr><td>Purchase Amount</td><td> $ 420,000</td></tr>
                                    <tr><td>Equity Value</td><td> $ 787,101</td></tr>
                                    <tr><td>Equity Percentage Opportunity</td><td> High equity</td></tr>
                                    <tr><td colspan="2" style="background-color:#aaaafa;">Property #4</td></tr>
                                    <tr><td>County  State</td><td>Nassau, NY</td></tr>
                                    <tr><td>Purchase Date</td><td>  - </td></tr>
                                    <tr><td>Purchase Amount</td><td>  - </td></tr>
                                    <tr><td>Equity Value</td><td> $ 2,071,709</td></tr>
                                    <tr><td>Equity Percentage Opportunity</td><td> High equity</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-cont text-box">
                        <h4><i class="fa fa-calendar"></i> Events</h4>
                        <table style="width:100%">
                            <thead><tr><th style="width:25%;"><div style="width:100px">Event</div></th><th>Date</th><th>Source</th><th>Category</th><th>Sales Insights</th></tr></thead>
                            <tbody>
                                <tr class="st_5" style="display:none;"><td>Wealth Creation</td><td>2016-04-11</td><td>Paid Source</td><td>Westchester Property on sale - US$ 700k</td><td>Tax planning, Retirement Products</td></tr>
                                <tr class="st_4" style="display:none;"><td>Wealth Creation</td><td>2016-03-11</td><td>Paid Source</td><td>Sold .6 mn worth BlackRock</td><td>Tax planning, Retirement Products</td></tr>
                                <tr class="st_3" style="display:none;"><td>Deborah Winshel is now a client</td><td>2015-11-11</td><td>FA Name</td><td>New Client</td><td>Tax planning (TP12)</td></tr>
                                <tr class="st_2" style="display:none;"><td>Deval Patrick attending SOCAP 15</td><td>2015-08-25</td><td>Paid Source</td><td>Introduction Opportunity</td><td>Tax Planning, Retirement Products</td></tr>
                                <tr class="st_1" style="display:none;"><td>MS Client – circle of influence enhanced</td><td>2015-05-15</td><td>Paid Source</td><td>Introduction Opportunity</td><td>Tax Planning, Retirement Products</td></tr>
                                <tr class="st_0" style="display:none;"><td>New Appointment</td><td>2015-02-09</td><td>Paid Source</td><td>Job Event</td><td>Tax Planning, Retirement Products</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-cont text-box">
                        <h4><i class="fa fa-fw fa-newspaper-o"></i> Relevant news</h4>
                        <table style="width:100%">
                            <thead><tr><th style="width:33%;">Relevant News</th><th style="width:33%;text-align:center;">Date</th><th>Source</th></tr></thead>
                            <tbody>
                                <tr class="st_2" style="display:none;"><td >Attending a Conference</td><td style="text-align:center;">2015-08-25</td><td><a href="http://www.streetinsider.com/Press+Releases/Framing+the+Future+of+Impact+Investing,+Social+Capital+Markets+Conference+(SOCAP)+Announces+Main+Stage+Speakers,+New+SOCAPTV+and+SOCAP+365+Programs,+and+Sponsors+for+SOCAP15/10840351.html">http://www.streetinsider.com/Press+Releases...</a></td></tr>
                                <tr class="st_0" style="display:none;"><td>Political Contributions</td><td style="text-align:center;">2014-08-25</td><td>Paid Source</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-cont text-box">
                        <h4><i class="fa fa-money"></i> Compensation</h4>
                        <table style="width:100%">
                            <thead><tr><th style="width:30%;">Name</th><th>Position</th><th>Compensation</th></tr></thead>
                            <tbody><tr><td>Frank S. Hermance    Chairman</td><td>Chief Executive Officer and Chairman of Executive Committee in Ametek Inc.</td><td>$1.7M</td></tr>
                                <tr><td>Jen-Hsun Huang  Co-Founder</td><td>Chief Executive Officer, President, Director and Member of Compensation Committee in NVIDIA Corporation</td><td>$998.4K</td></tr>
                                <tr><td>Moshe N. Gavrielov</td><td>Chief Executive Officer, President and Director in Xilinx Inc.</td><td>$787.5K</td></tr>
                                <tr><td>Carlo Bozotti</td><td>Chairman of Management Board, Chief Executive Officer, President and Chairman of Corporate Strategic Committee in STMicroelectronics NV</td><td>$1.8M</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if status != 'ok' %}
    {% if status == 'Not found' %}
    <h1><span class='text-muted'>{{ name }}</span> was not found</h1>
    {% endif %}
    <a class="next-btn" style="position: absolute; right:5px; top: 5px;font-size:70%;">next</a>
    <script>
        $('.next-btn').click(function() {
            $('.alert-hidden').removeClass('alert-hidden');
        });
    </script>
    
    <div class="row">
        <div class='col-md-4'>
            <div style="padding-right: 15px;padding-left: 15px;">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-cont text-box">
                        <div class="alert-hidden">
                            <h4><i class="fa fa-exclamation-triangle"></i> Alerts</h4>
                            <div class="list-group" style="background-color:#FFAAAA;">
                                <a href="?name=deborah%20winshel" class="list-group-item" style="background-color:rgba(0,0,0,0);">
                                    <div class="list-group-item-heading">
                                        <h4 class="list-group-item-heading">New Appointment</h4>
                                        <h5 class="list-group-item-heading">Deborah Winshel</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h4><i class="fa fa-users"></i> Client News</h4>
                        <div class="list-group">
                            <a href="?name=Kevin%20Arrix" class="list-group-item">
                                <div class="list-group-item-heading">
                                    <h4 class="list-group-item-heading">New Appointment</h4>
                                    <h5 class="list-group-item-heading">Kevin Arrix</h5>
                                </div>
                                <p class="list-group-item-text"><span class="text-muted">2015-10-06</span><br>Verve Names Kevin Arrix Chief Revenue Officer Verve, the leader in location-based mobile advertising, today announced th...</p>
                            </a>
                            <a href="?name=Lisa%20Speransky" class="list-group-item">
                                <div class="list-group-item-heading">
                                    <h4 class="list-group-item-heading">New Appointment</h4>
                                    <h5 class="list-group-item-heading">Lisa Speransky</h5>
                                </div>
                                <p class="list-group-item-text"><span class="text-muted">2015-10-06</span><br>BEABA USA Announces New CEO BEABA, internationally known juvenile product company, and creator of first steam cooker and...</p>
                            </a>
                        </div>
                        <h4><i class="fa fa-briefcase"></i> Client Company M&amp;A News</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Merger/Acquisition</h4>
                                <p class="list-group-item-text"><span class="text-muted">2015-10-12</span><br>BlackRock Closes Acquisition of Infraestructura Institucional BlackRock, Inc. (NYSE:BLK) has closed the acquisition of I...</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading"></h4>
                                <p class="list-group-item-text"><span class="text-muted">2015-09-22</span><br>Company Medallion Financial considers going private, following recent approaches and ?misunderstanding? over Uber Medall...</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Merger/Acquisition</h4>
                                <p class="list-group-item-text"><span class="text-muted">2015-08-26</span><br>BlackRock to Acquire FutureAdvisor BlackRock, Inc. (NYSE:BLK) has entered into a definitive agreement to acquire FutureA...</p>
                            </a>
                        </div>
                        <h4><i class="fa fa-share-alt"></i> SocialNews Social Media Insights</h4>
                        <hr style="margin:15px">
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-8'>
            <div style="padding-right: 15px;padding-left: 15px;">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-cont text-box">
                        <h4><i class="fa fa-search"></i> Search</h4>
                        <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="iname">
                        </div>
                        <div class="form-group">
                            <label for="usr">State:</label>
                            <input type="text" class="form-control" id="istate">
                        </div>
                        <button id="search_btn" type="button" class="btn myButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#search_btn').on('click', function (e) {
            window.location.href = encodeURI('?name='+$('#iname').val());
        })
    </script>
    {% endif %}
    
</div> <!-- id="wealth_management" class="container" -->
{% endblock %}

{% block bottom %}
{{ super() }}

{% if status == 'ok' %}

<script src="/static/js/highcharts.js"></script>
<script src="http://visjs.org/dist/vis.js"></script>

<script>
    var network = null, 
        nodeIds, shadowState, nodesArray, nodes, edgesArray, edges;

    var c_conf = 'yellow',
        c_person = '#aa0000',
        c_school = '#0000aa',
        c_company = "#00aa00";

    // create an array with nodes
    nodesArray = [
        {id: 1, label: "Stephen Thomas", color: {background: c_person}, timeslot: 4, x: -350, y: -190},
        {id: 2, label: "Jordan Bettman", color: {background: c_person}, timeslot: 2, x: 200, y: 200},
        {id: 3, label: "Michael Rapport", color: {background: c_person}, timeslot: 4, x: 250, y: 20},
        {id: 4, label: "Deborah Winshel", title: "She is our client", color: {background: c_person}, 
            group: "family", shape: "circularImage", image: "/static/images/deborah_sm.png", size: 30, timeslot: 1, mass: 5, level: 1, x: 0, y: 0},
        {id: 5, label: "Michael Dal Bello", color: {background: c_person}, timeslot: 1, x: 0, y: 200},
        {id: 6, label: "Amit Dixit", color: {background: c_person}, timeslot: 4, x: -240, y: -10},
        {id: 7, label: "BLACKROCK GROUP", color: {background: c_company}, timeslot: 1, x: -100, y: 120},
        {id: 8, label: "Harvard Business School", color: {background: c_school}, timeslot: 1, x: 100, y: 120},
        {id: 9, label: "The Robin Hood Foundation", color: {background: c_company}, timeslot: 4, x: 90, y: -230},
        {id: 10,label: "Metropolitan Museum of Art", color: {background: c_company}, timeslot: 4, x: 450, y: -180},
        {id: 11,label: "Winsheel S", color: {background: c_person}, group: "family", timeslot: 3, level: 2, x: 110, y: -90},
        {id: 12,label: "BAIN CAPITAL LLC", color: {background: c_company}, timeslot: 4, x: -250, y: -310},
        {id: 13,label: "BAIN CAPITAL VENTURES", color: {background: c_company}, timeslot: 4, x: 300, y: 100},
        {id: 14,label: "BEHRMAN CAPITAL LP", color: {background: c_company}, timeslot: 4, x: 350, y: -70},
        {id: 15,label: "SOCAP15", color: {background: c_conf}, timeslot: 2, x: -80, y:-100},
        {id: 16,label: "Patrick Deval", color: {background: c_person}, timeslot: 2, x:-110, y: -200},
        {id: 17,label: "John Winsheel", color: {background: c_person}, group: "family", timeslot: 3, level: 2, x: 150 , y: -20},
        {id: 18,label: "Person", color: {background: c_person}, timeslot: 1, x: -150 , y: 300},
        {id: 19,label: "Company", color: {background: c_company}, timeslot: 1, x: -75, y: 300},
        {id: 20,label: "School", color: {background: c_school}, timeslot: 1, x: 0, y: 300},
        {id: 21,label: "Conference", color: {background: c_conf}, timeslot: 2, x: 75, y: 300},
    ];

    // create an array with edges
    edgesArray = [
        {from: 1, to: 12, label: "Principal",},
        {from: 2, to: 13, label: "Senior Principal",},
        {from: 3, to: 14, label: "Principal",},
        {from: 4, to: 7,  label: "Managing Director",},
        {from: 5, to: 7,  label: "Managing Director-\nPrivate Equity",},
        {from: 6, to: 7,  label: "Senior Managing Director-\nPrivate Equity",},
        {from: 2, to: 8,  label: "Alumni",},
        {from: 3, to: 8,  label: "Alumni",},
        {from: 4, to: 8,  label: "Alumni",},
        {from: 5, to: 8,  label: "Alumni",},
        {from: 4, to: 9,  label: "chief operating officer - 2011",},
        {from: 4, to: 10, label: "chief financial and administrative\nofficer - previous",},
        {from: 4, to: 11, label: "Spouse",},
        {from: 4, to: 17, label: "Son",},
        {from: 4, to: 15, label: "Conference Attended",},
        {from: 16, to: 15,label: "Conference Attended",},
        {from: 16, to: 12,label: "Managing Director",},
        {from: 17, to: 8, label: "Student",},
    ];

    function startNetwork() {
        // create a network
        var container = document.getElementById('user_graph');
        var activeNodes = [];
        for (i in nodesArray) {
            if (nodesArray[i]['timeslot'] <= lastSelection[0]+1 )
                activeNodes.push(nodesArray[i]);
        }

        nodes = new vis.DataSet(activeNodes);
        edges= new vis.DataSet(edgesArray);

        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = { 
                nodes: {physics: false, shape: "dot", size: 10},
                groups: { family: { borderWidth:3, color: {border: "orange"} } },
                edges: { font: {size: 10}, color: {color: "#848484"} },
                };

        if(network !== null) {
            network.destroy();
            network = null;
        }
        network = new vis.Network(container, data, options);
        network.stabilize();
    }

    var assets = [
            {"IAssets": 0, "OAssets": 2071709, "liabilities": 0},
            {"IAssets": 0, "OAssets": 2071709, "liabilities": 0},
            {"IAssets": 0, "OAssets": 2071709, "liabilities": 0},
            {"IAssets": 3000000, "OAssets": 2071709, "liabilities": 0},
            {"IAssets": 3000000, "OAssets": 2071709, "liabilities": 0},
            {"IAssets": 3000000, "OAssets": 2071709, "liabilities": 0},
            ];
  // DOM element where the Timeline will be attached
    var container = document.getElementById('wm_timeline');

  // Create a DataSet (allows two way data-binding)
    var dataset = [
        {id: 0, content: 'New Appointment', start: '2015-02-09', },
        {id: 1, content: 'MS Client – circle of<br> influence enhanced', start: '2015-05-15', },
        {id: 2, content: 'Deval Patrick attending SOCAP', start: '2015-08-25', },
        {id: 3, content: 'Deborah Winshel is now a client', start: '2015-11-11', },
        {id: 4, content: 'Wealth Creation', start: '2016-03-11', },
        {id: 5, content: 'Wealth Creation', start: '2016-04-11', },
        ];
    var items = new vis.DataSet(dataset);

  // Configuration for the Timeline
    var options = {
        width: '100%',
        height: '100px',
        zoomable: false,
        selectable: true,
        moveable: false,
        showCurrentTime: false,
        margin: {
          item: 2
        },
        showMajorLabels: false,
        orientation: {
            axis: 'none'
        },
        timeAxis: {scale: 'month', step: 1}
    };

    // Create a Timeline
    var timeline = new vis.Timeline(container, items, options);

    var lastSelection = [0];
    var chart = null;

    // Select first event
    timeline.setSelection(lastSelection);
    eventSelected( { "items": lastSelection } );

    timeline.on('select', eventSelected);

    function eventSelected(properties) {
        if(properties.items.length < 1) { timeline.setSelection(lastSelection); return; }
        lastSelection = properties.items;

        // Update chart if it is shown
        if(chart) {
//          chart.series[0].update({ data: [assets[lastSelection[0]]['IAssets'],assets[lastSelection[0]]['OAssets'], assets[lastSelection[0]]['liabilities'] ] });
            chart.destroy();
            chart = new Highcharts.Chart({chart: {type: 'column', height: 200, renderTo: "columnChart"}, 
                       title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                       legend:{enabled:false},
                       xAxis: {categories: ['Investment Assets', 'Other Assets', 'Liabilities']},
                       yAxis: {title: {text: ''}, gridLineDashStyle: "Dash", allowDecimals: true},
                       series: [{name: 'Money',data: [assets[lastSelection[0]]['IAssets'],assets[lastSelection[0]]['OAssets'], assets[lastSelection[0]]['liabilities'] ], colorByPoint: true}],
                       credits:{enabled:false},
            });
        }

        // Update assets table
        var row = assets[lastSelection[0]];
        $("#IAssets").html("$ " + parseInt(row['IAssets']).toLocaleString());
        $("#OAssets").html("$ " + parseInt(row['OAssets']).toLocaleString());
        $("#liabilities").html("$ " + parseInt(row['liabilities']).toLocaleString());
        $("#TAssets").html("$ " + parseInt(row['IAssets'] + row['OAssets']).toLocaleString());
        $("#netWorth").html("$ " + parseInt(row['IAssets'] + row['OAssets'] - row['liabilities']).toLocaleString());
        
        // Show info
        for(i=0; i<=lastSelection[0]; i++) {
            $(".st_"+i).show();
        }
        // Hide info
        for(i=lastSelection[0]+1; i<dataset.length; i++) {
            $(".st_"+i).hide();
        }
    
        startNetwork();
  }

  $(function() {
    Highcharts.setOptions({
        colors: ['#7fb005', '#54a0ed', '#ed020b', '#ffb446'], 
    });
    chart = new Highcharts.Chart({chart: {type: 'column', height: 200, renderTo: "columnChart"}, 
                       title: {text: '', verticalAlign: 'bottom', style: { "color": "rgb(112, 112, 112)", "fill": "rgb(112, 112, 112)", "fontSize": "12px" },}, 
                       legend:{enabled:false},
                       xAxis: {categories: ['Investment Assets', 'Other Assets', 'Liabilities']},
                       yAxis: {title: {text: ''}, gridLineDashStyle: "Dash", allowDecimals: true},
                       series: [{name: 'Money',data: [assets[lastSelection[0]]['IAssets'],assets[lastSelection[0]]['OAssets'], assets[lastSelection[0]]['liabilities'] ], colorByPoint: true}],
                       credits:{enabled:false},
          });
  });

</script>
<script type = "text/javascript" src="/static/js/popup-box-right.js"></script>
<script>
    window.onload = function(){
        $('.activator').click(function(){
            $('#overlay').fadeIn('fast',function(){
                $('#popup-box-right').animate({'right':'0', 'left':'10%'},1000);
            });
        });
    }
</script>
{% endif %}

{% endblock %}